In [1]:
import os, numpy as np
import pandas as pd

os.environ["KERAS_BACKEND"] = "tensorflow"

import keras 
from sklearn import datasets

from sklearn.model_selection import train_test_split

keras.backend.set_floatx('float32')

from keras.utils import np_utils
from keras.constraints import max_norm


def set_reproducible():
    import tensorflow as tf
    import random as rn
    import os
    os.environ['PYTHONHASHSEED'] = '1960'
    rn.seed(1960)
    np.random.seed(1960)
    session_conf = tf.ConfigProto(intra_op_parallelism_threads=1, inter_op_parallelism_threads=1)

    from keras import backend as K
    tf.set_random_seed(1960)

    sess = tf.Session(graph=tf.get_default_graph(), config=session_conf)
    # K.set_session(sess)

set_reproducible()

Using TensorFlow backend.

# Build a Keras Model

In [2]:
NC = 13

def create_model():
    from keras.models import Sequential
    from keras.layers import Dense, Activation, LSTM
    from keras.constraints import max_norm

    model = Sequential()
    model.add(LSTM(1, input_shape=(1, NC), batch_size=1 , 
                   activation='relu', recurrent_activation = 'hard_sigmoid', 
                   stateful=True,
                   kernel_constraint=max_norm(2.),
                   recurrent_constraint=max_norm(2.),
                   kernel_initializer = keras.initializers.Orthogonal(gain=0.1),
                   recurrent_initializer = keras.initializers.Zeros()))
    model.add(Dense(1, activation=None))
    adam_optimizer = keras.optimizers.Adam(lr=0.01, clipnorm=1.)
    model.compile(loss='mse', optimizer=adam_optimizer)
    return model

In [3]:
boston  = datasets.load_boston()
boston.data = (boston.data - boston.data.mean(axis=0)) / boston.data.std(axis=0)
boston.target = (boston.target - boston.target.mean(axis=0)) / boston.target.std(axis=0)

boston.data = boston.data[:,0:NC]
# boston.target = boston.data[:,1]

train_X, test_X, train_y, test_y = train_test_split(boston.data, boston.target, train_size=0.8, test_size=0.2, random_state=1960)
train_X = train_X.reshape(train_X.shape[0] , 1, train_X.shape[1])
test_X = test_X.reshape(test_X.shape[0] , 1, test_X.shape[1])

In [4]:
# train_X

In [5]:
#boston.target

In [6]:

from keras.wrappers.scikit_learn import KerasRegressor

clf = KerasRegressor(build_fn=create_model, batch_size=1, epochs=12, verbose=2)

print(train_X.shape , train_y.shape, train_X.dtype , train_y.dtype)
clf.fit(train_X, train_y)

(404, 1, 13) (404,) float64 float64
Epoch 1/12
 - 5s - loss: 0.4529
Epoch 2/12
 - 3s - loss: 0.2724
Epoch 3/12
 - 3s - loss: 0.2332
Epoch 4/12
 - 3s - loss: 0.2074
Epoch 5/12
 - 3s - loss: 0.2301
Epoch 6/12
 - 3s - loss: 0.2079
Epoch 7/12
 - 2s - loss: 0.2349
Epoch 8/12
 - 3s - loss: 0.2193
Epoch 9/12
 - 2s - loss: 0.2211
Epoch 10/12
 - 1s - loss: 0.2088
Epoch 11/12
 - 1s - loss: 0.2098
Epoch 12/12
 - 1s - loss: 0.2016

In [7]:
print(test_X.shape)
preds = clf.predict(test_X)
clf.model.reset_states()
print(preds)

(102, 1, 13)
[-0.22588879 -0.51580876 -0.2410878  -0.54559267  0.22782338 -0.5725206
 -0.6540518  -0.74347055 -1.0372039  -1.0372039  -0.84205705 -0.7621927
 -0.19718373 -1.0372039   1.1956807  -0.8132057   0.774145   -0.25460047
 -1.0372039   0.27320802 -0.07806408  1.9324733  -1.0372039   0.05064917
  0.5851741  -0.382416   -0.29469872 -1.0372039  -0.1506483  -1.0372039
  0.15698183 -1.0163854  -1.0372039   0.97233784 -0.06239009 -0.20518976
  0.2121588  -1.0372039  -0.90382165  0.28622735 -0.7210716  -0.27013743
 -0.33481997 -1.0372039  -0.21277684 -0.2852546   0.06916034 -0.11272919
 -1.0372039  -0.83141637 -0.48814106 -0.81684303 -1.0372039   1.3147925
 -0.5674504  -0.9928935   0.80365276 -0.28945583 -0.40703338 -0.3676477
 -0.96918577  1.0488528  -0.47345603 -0.12919623 -1.0372039   1.2674214
 -0.8158749  -0.83365154 -1.0372039  -0.37442487 -0.04633254  1.8504056
 -0.4345302  -0.36566675  0.01433587 -1.0372039   1.3804206   0.28230584
 -1.0228282   0.5215901  -0.74603975  0.0406177   0.11913002 -1.0372039
 -0.83305025  0.16888511 -0.72977245  0.8962145  -0.5069104   0.18522835
 -1.0372039   0.41869783 -0.47790098 -1.0372039  -0.12956065 -0.34250093
  1.092203    0.6964934  -0.3513024  -0.53678703 -0.09258616 -0.6793014 ]

In [8]:
pd.DataFrame(boston.data).describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,506.000000,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02
mean,0.000000,6.319056e-17,-3.145486e-15,-2.106352e-17,2.752300e-15,-1.150770e-14,-1.137430e-15,7.582867e-16,5.616939e-17,5.616939e-17,-1.022283e-14,8.593916e-15,-5.897786e-16
std,1.000990,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00
min,-0.417713,-4.877224e-01,-1.557842e+00,-2.725986e-01,-1.465882e+00,-3.880249e+00,-2.335437e+00,-1.267069e+00,-9.828429e-01,-1.313990e+00,-2.707379e+00,-3.907193e+00,-1.531127e+00
25%,-0.408896,-4.877224e-01,-8.676906e-01,-2.725986e-01,-9.130288e-01,-5.686303e-01,-8.374480e-01,-8.056878e-01,-6.379618e-01,-7.675760e-01,-4.880391e-01,2.050715e-01,-7.994200e-01
50%,-0.388582,-4.877224e-01,-2.110985e-01,-2.725986e-01,-1.442174e-01,-1.084655e-01,3.173816e-01,-2.793234e-01,-5.230014e-01,-4.646726e-01,2.748590e-01,3.811865e-01,-1.812536e-01
75%,0.006248,4.877224e-02,1.015999e+00,-2.725986e-01,5.986790e-01,4.827678e-01,9.067981e-01,6.623709e-01,1.661245e+00,1.530926e+00,8.065758e-01,4.336510e-01,6.030188e-01
max,9.941735,3.804234e+00,2.422565e+00,3.668398e+00,2.732346e+00,3.555044e+00,1.117494e+00,3.960518e+00,1.661245e+00,1.798194e+00,1.638828e+00,4.410519e-01,3.548771e+00

# Generate SQL Code from the Model

In [9]:
import json, requests, base64, dill as pickle, sys



sys.setrecursionlimit(200000)
pickle.settings['recurse'] = False

# no luck for the web service... pickling feature of tensorflow and/or keras objects seems not to be a priority.
# there is a lot of github issues in the two projects when I search for pickle keyword!!!.

def test_ws_sql_gen(pickle_data):
    WS_URL="http://localhost:1888/model"
    b64_data = base64.b64encode(pickle_data).decode('utf-8')
    data={"Name":"model1", "PickleData":b64_data , "SQLDialect":"sqlite"}
    r = requests.post(WS_URL, json=data)
    print(r.__dict__)
    content = r.json()
    # print(content)
    lSQL = content["model"]["SQLGenrationResult"][0]["SQL"]
    return lSQL;



def test_sql_gen(keras_regressor , metadata):
    import sklearn2sql.PyCodeGenerator as codegen
    cg1 = codegen.cAbstractCodeGenerator();
    cg1.mOptions.mActivateMaterialization = False
    lSQL = cg1.generateCodeWithMetadata(clf, metadata, dsn = None, dialect = "sqlite");
    return lSQL[1]

In [10]:
# commented .. see above
# pickle_data = pickle.dumps(clf)
# lSQL = test_ws_sql_gen(pickle_data)
# print(lSQL[0:2000])

In [11]:
lMetaData = {}
lMetaData['features'] = list(boston.feature_names)[0:NC];
lMetaData["targets"] = ['TGT']
lMetaData['primary_key'] = 'KEY'
lMetaData['table'] = 'boston'

lSQL = test_sql_gen(clf , lMetaData)

cGenerationWrapperFactory::createWrapper() <class 'keras.wrappers.scikit_learn.KerasRegressor'>
BACKEND_DIALECT sqlite
CREATING_DATABASE_BACKEND_DSN_DIALECT 1.2.7 None sqlite
KERAS_REG_GENERATE_EXPRESSION_START <class 'sqlalchemy.sql.selectable.Alias'> <class 'sklearn2sql.GenericModels.Keras.cSerializedKeras'>
{'mKerasData': <keras.wrappers.scikit_learn.KerasRegressor object at 0x7fae93da6898>, 'mFeatureNames': ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT'], 'mClasses': None, 'mMode': 'Regression'}
{'build_fn': <function create_model at 0x7fae93d9b7b8>, 'sk_params': {'batch_size': 1, 'epochs': 12, 'verbose': 2}, 'model': <keras.engine.sequential.Sequential object at 0x7fae93da6780>}
GENERATING_LAYER 0 lstm_1 <class 'keras.layers.recurrent.LSTM'> {'input_spec': [InputSpec(shape=(1, None, 13), ndim=3)], 'supports_masking': True, 'stateful': True, '_trainable_weights': [], '_non_trainable_weights': [], '_losses': [], '_updates': [(<tf.Variable 'lstm_1/Variable:0' shape=(1, 1) dtype=float32_ref>, <tf.Tensor 'lstm_1/while/Exit_3:0' shape=(1, 1) dtype=float32>), (<tf.Variable 'lstm_1/Variable_1:0' shape=(1, 1) dtype=float32_ref>, <tf.Tensor 'lstm_1/while/Exit_4:0' shape=(1, 1) dtype=float32>)], '_per_input_losses': {}, '_per_input_updates': {'140387781603280': [(<tf.Variable 'lstm_1/Variable:0' shape=(1, 1) dtype=float32_ref>, <tf.Tensor 'lstm_1/while/Exit_3:0' shape=(1, 1) dtype=float32>), (<tf.Variable 'lstm_1/Variable_1:0' shape=(1, 1) dtype=float32_ref>, <tf.Tensor 'lstm_1/while/Exit_4:0' shape=(1, 1) dtype=float32>)]}, '_built': True, '_inbound_nodes': [<keras.engine.base_layer.Node object at 0x7fae8fc8b0b8>], '_outbound_nodes': [<keras.engine.base_layer.Node object at 0x7fae8fc8bcf8>], 'name': 'lstm_1', 'trainable': True, 'batch_input_shape': (1, 1, 13), 'dtype': 'float32', '_initial_weights': None, 'cell': <keras.layers.recurrent.LSTMCell object at 0x7fae93da6c18>, 'return_sequences': False, 'return_state': False, 'go_backwards': False, 'unroll': False, 'state_spec': [InputSpec(shape=(None, 1), ndim=2), InputSpec(shape=(None, 1), ndim=2)], '_states': [<tf.Variable 'lstm_1/Variable:0' shape=(1, 1) dtype=float32_ref>, <tf.Variable 'lstm_1/Variable_1:0' shape=(1, 1) dtype=float32_ref>], 'constants_spec': None, '_num_constants': None, 'activity_regularizer': None}
KERAS_CREATE_LAYER_START <class 'keras.layers.recurrent.LSTM'>
LAYER_CHECK_COLUMNS ('lstm_1', <class 'keras.layers.recurrent.LSTM'>, (1, 1, 13), 14, 14)
KERAS_GENERATE_LAYER_START <class 'keras.layers.recurrent.LSTM'>
KERAS_CREATE_LAYER_START <class 'keras.layers.recurrent.LSTM'>
LAYER_GENERATE_CODE_START lstm_1 (1, 1, 13)
LSTM_WEIGHTS 3 [(13, 4), (1, 4), (4,)] [array([[-0.74909276,  0.7719196 , -1.0115914 , -0.63596207],
       [-0.10493474, -0.01771305, -0.00702685, -0.09292503],
       [ 0.3498414 ,  0.24686183, -0.20955582,  0.19511631],
       [-0.23292664, -0.18069743, -0.06895368,  0.1555579 ],
       [-0.4384863 ,  0.25298   ,  0.17920431, -0.34755155],
       [-0.36197516, -0.43096793,  1.4057276 ,  0.03934385],
       [ 0.08658588, -0.02648668, -0.07053049, -0.62274724],
       [-0.06538126,  0.05203748, -0.22678018, -0.37384307],
       [-0.78672147,  0.91812944, -0.32530904,  0.46430272],
       [-0.3319313 ,  0.855873  , -0.42575723, -0.45150974],
       [-0.3143857 ,  0.34052762, -0.1269078 , -0.42217624],
       [ 1.1576815 , -0.6736855 ,  0.2541182 ,  0.60598034],
       [-0.13805741,  0.92823416,  0.23876317, -1.1189766 ]],
      dtype=float32), array([[ 0.7365991 , -0.09539106, -0.00700832, -0.14825508]],
      dtype=float32), array([1.9201494 , 0.18773246, 1.4992601 , 0.13148907], dtype=float32)]
LSTM_LAYER_INTERNAL inputs  19 ['rn_1', 'KEY', 'CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'dot_prod_i_1', 'dot_prod_f_1', 'dot_prod_c_1', 'dot_prod_o_1']
LSTM_LAYER_INTERNAL current_states  2 ['PreviousState_1', 'PreviousState_2']
LSTM_LAYER_INTERNAL h_t  1 ['PreviousState_1']
LSTM_LAYER_INTERNAL c_t  1 ['PreviousState_2']
LSTM_LAYER_INTERNAL x_i  1 ['dot_prod_i_1']
LSTM_LAYER_INTERNAL x_f  1 ['dot_prod_f_1']
LSTM_LAYER_INTERNAL x_c  1 ['dot_prod_c_1']
LSTM_LAYER_INTERNAL x_o  1 ['dot_prod_o_1']
LSTM_LAYER_INTERNAL state_i 1 ['state_i_1']
LSTM_LAYER_INTERNAL state_f 1 ['state_f_1']
LSTM_LAYER_INTERNAL state_c 1 ['state_c_1']
LSTM_LAYER_INTERNAL state_o 1 ['state_o_1']
RECURRENT_LAYER_FINAL state_h 1 ['state_h_1']
RECURRENT_LAYER_FINAL outputs 3 ['rn_1', 'KEY', 'output_1']
RECURRENT_LAYER_FINAL new_states 2 ['State_1', 'State_2']
LSTM_LAYER_INTERNAL inputs  19 ['rn', 'KEY', 'CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'dot_prod_i_1', 'dot_prod_f_1', 'dot_prod_c_1', 'dot_prod_o_1']
LSTM_LAYER_INTERNAL current_states  2 ['PreviousState_1', 'PreviousState_2']
LSTM_LAYER_INTERNAL h_t  1 ['PreviousState_1']
LSTM_LAYER_INTERNAL c_t  1 ['PreviousState_2']
LSTM_LAYER_INTERNAL x_i  1 ['dot_prod_i_1']
LSTM_LAYER_INTERNAL x_f  1 ['dot_prod_f_1']
LSTM_LAYER_INTERNAL x_c  1 ['dot_prod_c_1']
LSTM_LAYER_INTERNAL x_o  1 ['dot_prod_o_1']
LSTM_LAYER_INTERNAL state_i 1 ['state_i_1']
LSTM_LAYER_INTERNAL state_f 1 ['state_f_1']
LSTM_LAYER_INTERNAL state_c 1 ['state_c_1']
LSTM_LAYER_INTERNAL state_o 1 ['state_o_1']
RECURRENT_LAYER_FINAL state_h 1 ['state_h_1']
RECURRENT_LAYER_FINAL outputs 3 ['rn', 'KEY', 'output_1']
RECURRENT_LAYER_FINAL new_states 2 ['State_1', 'State_2']
LAYER_GENERATE_CODE_END lstm_1 (1, 1)
GENERATING_LAYER 1 dense_1 <class 'keras.layers.core.Dense'> {'input_spec': InputSpec(min_ndim=2, axes={-1: 1}), 'supports_masking': True, 'stateful': False, '_trainable_weights': [<tf.Variable 'dense_1/kernel:0' shape=(1, 1) dtype=float32_ref>, <tf.Variable 'dense_1/bias:0' shape=(1,) dtype=float32_ref>], '_non_trainable_weights': [], '_losses': [], '_updates': [], '_per_input_losses': {}, '_per_input_updates': {}, '_built': True, '_inbound_nodes': [<keras.engine.base_layer.Node object at 0x7fae8fc8bcf8>], '_outbound_nodes': [], 'name': 'dense_1', 'trainable': True, '_initial_weights': None, 'units': 1, 'activation': <function linear at 0x7fae99125a60>, 'use_bias': True, 'kernel_initializer': <keras.initializers.VarianceScaling object at 0x7faeaf7096a0>, 'bias_initializer': <keras.initializers.Zeros object at 0x7fae8fc24320>, 'kernel_regularizer': None, 'bias_regularizer': None, 'activity_regularizer': None, 'kernel_constraint': None, 'bias_constraint': None, 'kernel': <tf.Variable 'dense_1/kernel:0' shape=(1, 1) dtype=float32_ref>, 'bias': <tf.Variable 'dense_1/bias:0' shape=(1,) dtype=float32_ref>}
KERAS_CREATE_LAYER_START <class 'keras.layers.core.Dense'>
LAYER_CHECK_COLUMNS ('dense_1', <class 'keras.layers.core.Dense'>, (1, 1), 2, 2)
KERAS_GENERATE_LAYER_START <class 'keras.layers.core.Dense'>
KERAS_CREATE_LAYER_START <class 'keras.layers.core.Dense'>
LAYER_GENERATE_CODE_START dense_1 (1, 1)
LAYER_GENERATE_CODE_END dense_1 (1, 1)
KERAS_REG_CODE_GENERATION_END <class 'sqlalchemy.sql.selectable.Alias'> <class 'sklearn2sql.GenericModels.Keras.cSerializedKeras'>
TEMP_SQLS []
FINAL_SQL WITH RECURSIVE keras_input AS
(SELECT "...put_1 AS "Estimator"
FROM layer_dense_1

In [12]:
print(lSQL)

WITH RECURSIVE keras_input AS
(SELECT "ADS"."KEY" AS "KEY", "ADS"."CRIM" AS "CRIM", "ADS"."ZN" AS "ZN", "ADS"."INDUS" AS "INDUS", "ADS"."CHAS" AS "CHAS", "ADS"."NOX" AS "NOX", "ADS"."RM" AS "RM", "ADS"."AGE" AS "AGE", "ADS"."DIS" AS "DIS", "ADS"."RAD" AS "RAD", "ADS"."TAX" AS "TAX", "ADS"."PTRATIO" AS "PTRATIO", "ADS"."B" AS "B", "ADS"."LSTAT" AS "LSTAT"
FROM boston AS "ADS"),
keras_input_1 AS
(SELECT keras_input."KEY" AS "KEY", keras_input."CRIM" AS "CRIM", keras_input."ZN" AS "ZN", keras_input."INDUS" AS "INDUS", keras_input."CHAS" AS "CHAS", keras_input."NOX" AS "NOX", keras_input."RM" AS "RM", keras_input."AGE" AS "AGE", keras_input."DIS" AS "DIS", keras_input."RAD" AS "RAD", keras_input."TAX" AS "TAX", keras_input."PTRATIO" AS "PTRATIO", keras_input."B" AS "B", keras_input."LSTAT" AS "LSTAT"
FROM keras_input),
keras_input_1_rn AS
(SELECT (SELECT count(t."KEY") AS count_1
FROM (SELECT keras_input_1."KEY" AS "KEY"
FROM keras_input_1) AS t
WHERE t."KEY" <= keras_input_1."KEY") AS rn, keras_input_1."KEY" AS "KEY", keras_input_1."CRIM" AS "CRIM", keras_input_1."ZN" AS "ZN", keras_input_1."INDUS" AS "INDUS", keras_input_1."CHAS" AS "CHAS", keras_input_1."NOX" AS "NOX", keras_input_1."RM" AS "RM", keras_input_1."AGE" AS "AGE", keras_input_1."DIS" AS "DIS", keras_input_1."RAD" AS "RAD", keras_input_1."TAX" AS "TAX", keras_input_1."PTRATIO" AS "PTRATIO", keras_input_1."B" AS "B", keras_input_1."LSTAT" AS "LSTAT"
FROM keras_input_1),
lstm_input_kernel_bias AS
(SELECT keras_input_1_rn.rn AS rn, keras_input_1_rn."KEY" AS "KEY", keras_input_1_rn."CRIM" AS "CRIM", keras_input_1_rn."ZN" AS "ZN", keras_input_1_rn."INDUS" AS "INDUS", keras_input_1_rn."CHAS" AS "CHAS", keras_input_1_rn."NOX" AS "NOX", keras_input_1_rn."RM" AS "RM", keras_input_1_rn."AGE" AS "AGE", keras_input_1_rn."DIS" AS "DIS", keras_input_1_rn."RAD" AS "RAD", keras_input_1_rn."TAX" AS "TAX", keras_input_1_rn."PTRATIO" AS "PTRATIO", keras_input_1_rn."B" AS "B", keras_input_1_rn."LSTAT" AS "LSTAT", 1.9201494455337524 + -0.7490927577018738 * keras_input_1_rn."CRIM" + -0.10493474453687668 * keras_input_1_rn."ZN" + 0.3498413860797882 * keras_input_1_rn."INDUS" + -0.2329266369342804 * keras_input_1_rn."CHAS" + -0.4384863078594208 * keras_input_1_rn."NOX" + -0.36197516322135925 * keras_input_1_rn."RM" + 0.0865858793258667 * keras_input_1_rn."AGE" + -0.06538125872612 * keras_input_1_rn."DIS" + -0.7867214679718018 * keras_input_1_rn."RAD" + -0.33193129301071167 * keras_input_1_rn."TAX" + -0.31438571214675903 * keras_input_1_rn."PTRATIO" + 1.1576814651489258 * keras_input_1_rn."B" + -0.1380574107170105 * keras_input_1_rn."LSTAT" AS dot_prod_i_1, 0.18773245811462402 + 0.7719196081161499 * keras_input_1_rn."CRIM" + -0.017713049426674843 * keras_input_1_rn."ZN" + 0.24686183035373688 * keras_input_1_rn."INDUS" + -0.18069742619991302 * keras_input_1_rn."CHAS" + 0.25297999382019043 * keras_input_1_rn."NOX" + -0.43096792697906494 * keras_input_1_rn."RM" + -0.026486678048968315 * keras_input_1_rn."AGE" + 0.05203748494386673 * keras_input_1_rn."DIS" + 0.9181294441223145 * keras_input_1_rn."RAD" + 0.8558729887008667 * keras_input_1_rn."TAX" + 0.34052762389183044 * keras_input_1_rn."PTRATIO" + -0.6736854910850525 * keras_input_1_rn."B" + 0.9282341599464417 * keras_input_1_rn."LSTAT" AS dot_prod_f_1, 1.4992600679397583 + -1.0115914344787598 * keras_input_1_rn."CRIM" + -0.007026849780231714 * keras_input_1_rn."ZN" + -0.20955581963062286 * keras_input_1_rn."INDUS" + -0.06895367801189423 * keras_input_1_rn."CHAS" + 0.1792043149471283 * keras_input_1_rn."NOX" + 1.4057276248931885 * keras_input_1_rn."RM" + -0.0705304890871048 * keras_input_1_rn."AGE" + -0.22678017616271973 * keras_input_1_rn."DIS" + -0.32530903816223145 * keras_input_1_rn."RAD" + -0.4257572293281555 * keras_input_1_rn."TAX" + -0.12690779566764832 * keras_input_1_rn."PTRATIO" + 0.2541182041168213 * keras_input_1_rn."B" + 0.23876316845417023 * keras_input_1_rn."LSTAT" AS dot_prod_c_1, 0.13148906826972961 + -0.6359620690345764 * keras_input_1_rn."CRIM" + -0.09292503446340561 * keras_input_1_rn."ZN" + 0.1951163113117218 * keras_input_1_rn."INDUS" + 0.15555790066719055 * keras_input_1_rn."CHAS" + -0.347551554441452 * keras_input_1_rn."NOX" + 0.03934384882450104 * keras_input_1_rn."RM" + -0.6227472424507141 * keras_input_1_rn."AGE" + -0.37384307384490967 * keras_input_1_rn."DIS" + 0.4643027186393738 * keras_input_1_rn."RAD" + -0.4515097439289093 * keras_input_1_rn."TAX" + -0.4221762418746948 * keras_input_1_rn."PTRATIO" + 0.6059803366661072 * keras_input_1_rn."B" + -1.1189765930175781 * keras_input_1_rn."LSTAT" AS dot_prod_o_1
FROM keras_input_1_rn),
rnn_cte_lstm_1(rn_1, "KEY", "PreviousState_1", "PreviousState_2", output_1, "State_1", "State_2") AS
(SELECT lstm_input_kernel_bias.rn AS rn_1, lstm_input_kernel_bias."KEY" AS "KEY", CAST(0.0 AS FLOAT) AS "PreviousState_1", CAST(0.0 AS FLOAT) AS "PreviousState_2", (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_o_1 + -0.14825507998466492 * 0.0) < 2.5) THEN lstm_input_kernel_bias.dot_prod_o_1 + -0.14825507998466492 * 0.0 ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_o_1 + -0.14825507998466492 * 0.0) END + 0.5) * max((0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_i_1 + 0.7365990877151489 * 0.0) < 2.5) THEN lstm_input_kernel_bias.dot_prod_i_1 + 0.7365990877151489 * 0.0 ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_i_1 + 0.7365990877151489 * 0.0) END + 0.5) * max(lstm_input_kernel_bias.dot_prod_c_1 + -0.007008318789303303 * 0.0, 0) + (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_f_1 + -0.09539106488227844 * 0.0) < 2.5) THEN lstm_input_kernel_bias.dot_prod_f_1 + -0.09539106488227844 * 0.0 ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_f_1 + -0.09539106488227844 * 0.0) END + 0.5) * 0.0, 0) AS output_1, (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_o_1 + -0.14825507998466492 * 0.0) < 2.5) THEN lstm_input_kernel_bias.dot_prod_o_1 + -0.14825507998466492 * 0.0 ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_o_1 + -0.14825507998466492 * 0.0) END + 0.5) * max((0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_i_1 + 0.7365990877151489 * 0.0) < 2.5) THEN lstm_input_kernel_bias.dot_prod_i_1 + 0.7365990877151489 * 0.0 ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_i_1 + 0.7365990877151489 * 0.0) END + 0.5) * max(lstm_input_kernel_bias.dot_prod_c_1 + -0.007008318789303303 * 0.0, 0) + (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_f_1 + -0.09539106488227844 * 0.0) < 2.5) THEN lstm_input_kernel_bias.dot_prod_f_1 + -0.09539106488227844 * 0.0 ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_f_1 + -0.09539106488227844 * 0.0) END + 0.5) * 0.0, 0) AS "State_1", (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_i_1 + 0.7365990877151489 * 0.0) < 2.5) THEN lstm_input_kernel_bias.dot_prod_i_1 + 0.7365990877151489 * 0.0 ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_i_1 + 0.7365990877151489 * 0.0) END + 0.5) * max(lstm_input_kernel_bias.dot_prod_c_1 + -0.007008318789303303 * 0.0, 0) + (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_f_1 + -0.09539106488227844 * 0.0) < 2.5) THEN lstm_input_kernel_bias.dot_prod_f_1 + -0.09539106488227844 * 0.0 ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_f_1 + -0.09539106488227844 * 0.0) END + 0.5) * 0.0 AS "State_2"
FROM lstm_input_kernel_bias
WHERE lstm_input_kernel_bias.rn = 1 UNION ALL SELECT lstm_input_kernel_bias.rn AS rn, lstm_input_kernel_bias."KEY" AS "KEY", rnn_cte_lstm_1."State_1" AS "PreviousState_1", rnn_cte_lstm_1."State_2" AS "PreviousState_2", (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_o_1 + -0.14825507998466492 * rnn_cte_lstm_1."State_1") < 2.5) THEN lstm_input_kernel_bias.dot_prod_o_1 + -0.14825507998466492 * rnn_cte_lstm_1."State_1" ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_o_1 + -0.14825507998466492 * rnn_cte_lstm_1."State_1") END + 0.5) * max((0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_i_1 + 0.7365990877151489 * rnn_cte_lstm_1."State_1") < 2.5) THEN lstm_input_kernel_bias.dot_prod_i_1 + 0.7365990877151489 * rnn_cte_lstm_1."State_1" ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_i_1 + 0.7365990877151489 * rnn_cte_lstm_1."State_1") END + 0.5) * max(lstm_input_kernel_bias.dot_prod_c_1 + -0.007008318789303303 * rnn_cte_lstm_1."State_1", 0) + (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_f_1 + -0.09539106488227844 * rnn_cte_lstm_1."State_1") < 2.5) THEN lstm_input_kernel_bias.dot_prod_f_1 + -0.09539106488227844 * rnn_cte_lstm_1."State_1" ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_f_1 + -0.09539106488227844 * rnn_cte_lstm_1."State_1") END + 0.5) * rnn_cte_lstm_1."State_2", 0) AS output_1, (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_o_1 + -0.14825507998466492 * rnn_cte_lstm_1."State_1") < 2.5) THEN lstm_input_kernel_bias.dot_prod_o_1 + -0.14825507998466492 * rnn_cte_lstm_1."State_1" ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_o_1 + -0.14825507998466492 * rnn_cte_lstm_1."State_1") END + 0.5) * max((0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_i_1 + 0.7365990877151489 * rnn_cte_lstm_1."State_1") < 2.5) THEN lstm_input_kernel_bias.dot_prod_i_1 + 0.7365990877151489 * rnn_cte_lstm_1."State_1" ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_i_1 + 0.7365990877151489 * rnn_cte_lstm_1."State_1") END + 0.5) * max(lstm_input_kernel_bias.dot_prod_c_1 + -0.007008318789303303 * rnn_cte_lstm_1."State_1", 0) + (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_f_1 + -0.09539106488227844 * rnn_cte_lstm_1."State_1") < 2.5) THEN lstm_input_kernel_bias.dot_prod_f_1 + -0.09539106488227844 * rnn_cte_lstm_1."State_1" ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_f_1 + -0.09539106488227844 * rnn_cte_lstm_1."State_1") END + 0.5) * rnn_cte_lstm_1."State_2", 0) AS "State_1", (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_i_1 + 0.7365990877151489 * rnn_cte_lstm_1."State_1") < 2.5) THEN lstm_input_kernel_bias.dot_prod_i_1 + 0.7365990877151489 * rnn_cte_lstm_1."State_1" ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_i_1 + 0.7365990877151489 * rnn_cte_lstm_1."State_1") END + 0.5) * max(lstm_input_kernel_bias.dot_prod_c_1 + -0.007008318789303303 * rnn_cte_lstm_1."State_1", 0) + (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_f_1 + -0.09539106488227844 * rnn_cte_lstm_1."State_1") < 2.5) THEN lstm_input_kernel_bias.dot_prod_f_1 + -0.09539106488227844 * rnn_cte_lstm_1."State_1" ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_f_1 + -0.09539106488227844 * rnn_cte_lstm_1."State_1") END + 0.5) * rnn_cte_lstm_1."State_2" AS "State_2"
FROM lstm_input_kernel_bias, rnn_cte_lstm_1
WHERE lstm_input_kernel_bias.rn = rnn_cte_lstm_1.rn_1 + 1),
lstm_1 AS
(SELECT rnn_cte_lstm_1."KEY" AS "KEY", CAST(rnn_cte_lstm_1."State_1" AS FLOAT) AS output_1
FROM rnn_cte_lstm_1),
lstm_1_1 AS
(SELECT lstm_1."KEY" AS "KEY", lstm_1.output_1 AS output_1
FROM lstm_1),
layer_dense_1 AS
(SELECT lstm_1_1."KEY" AS "KEY", -1.0372039079666138 + 0.5184025764465332 * lstm_1_1.output_1 AS output_1
FROM lstm_1_1)
 SELECT layer_dense_1."KEY" AS "KEY", layer_dense_1.output_1 AS "Estimator"
FROM layer_dense_1

# Execute the SQL Code

In [13]:
# save the dataset in a database table


import sqlalchemy as sa

def null_protected_function_1_arg(f , x):
    if(x is None):
        return x;
    return f(x);

def null_protected_function_2_args(f , x , n):
    if(x is None):
        return x;
    if(n is None):
        return n;
    return f(x , n);


def declareAdditionalFunctionsForSQLite(conn):
    import numpy as np
    import math
    from scipy import stats

    my_exp = lambda x : null_protected_function_1_arg(np.exp, x);
    conn.connection.connection.create_function("exp", 1, my_exp) 
    my_log = lambda x : null_protected_function_1_arg(np.log, x);
    conn.connection.connection.create_function("ln", 1, my_log) 
    my_tanh = lambda x : null_protected_function_1_arg(np.tanh, x);
    conn.connection.connection.create_function("tanh", 1, my_tanh) 
    my_pow = lambda x, n : null_protected_function_2_args(math.pow, x , n);
    conn.connection.connection.create_function("power", 2, my_pow) 
    my_sign = lambda x : null_protected_function_1_arg(np.sign, x);
    conn.connection.connection.create_function("sign", 1, my_sign) 
    my_sqrt = lambda x : null_protected_function_1_arg(np.sqrt, x);
    conn.connection.connection.create_function("sqrt", 1, my_sqrt) 
    my_inv_norm_cdf = lambda x : null_protected_function_1_arg(stats.norm.ppf, x);
    conn.connection.connection.create_function("inv_norm_cdf", 1, my_inv_norm_cdf) 


lDSN = 'sqlite://'
# lDSN = "postgresql://db:db@localhost/db?port=5432"
# lDSN = "mysql://db:db@localhost/db"
engine = sa.create_engine(lDSN, echo=False)
conn = engine.connect()
declareAdditionalFunctionsForSQLite(conn)

lTable = pd.DataFrame(boston.data);
lTable.columns = lMetaData['features']
lTable['TGT'] = boston.target
lTable['KEY'] = range(boston.data.shape[0])
lTable.to_sql(lMetaData['table'] , conn,   if_exists='replace', index=False)

In [14]:
sql_output = pd.read_sql(lSQL , conn);
conn.close()

In [15]:
sql_output.sample(12, random_state=1960)

     KEY  Estimator
230  230  -0.287226
112  112  -0.434198
125  125  -0.225111
9      9  -0.423400
213  213   0.188965
109  109  -0.462561
127  127  -0.602170
244  244  -0.847406
406  406  -1.037204
490  490  -1.037204
245  245  -0.877821
133  133  -0.588319

# Keras Prediction

In [16]:
#clf.model.reset_states()
skl_output = pd.DataFrame()
skl_output_key = pd.DataFrame(list(range(boston.data.shape[0])), columns=['KEY']);
data = boston.data.reshape(boston.data.shape[0] , 1, boston.data.shape[1])
skl_out = clf.predict(data)
print(skl_out.shape)
skl_output_estimator = pd.DataFrame(skl_out, columns=['Estimator'])
skl_output['KEY'] = skl_output_key['KEY']
skl_output['Estimator'] = skl_output_estimator
skl_output.sample(12, random_state=1960)

(506,)

     KEY  Estimator
230  230  -0.287226
112  112  -0.434198
125  125  -0.225111
9      9  -0.423400
213  213   0.188965
109  109  -0.462561
127  127  -0.602170
244  244  -0.847406
406  406  -1.037204
490  490  -1.037204
245  245  -0.877821
133  133  -0.588319

# Comparing the SQL and Keras Predictions

In [17]:
sql_skl_join = skl_output.join(sql_output , how='left', on='KEY', lsuffix='_skl', rsuffix='_sql')
sql_skl_join['Error'] = sql_skl_join.Estimator_sql - sql_skl_join.Estimator_skl

In [18]:
sql_skl_join.head(12)

    KEY_skl  Estimator_skl  KEY_sql  Estimator_sql         Error
0         0       0.576092        0       0.576091 -7.470172e-08
1         1      -0.136534        1      -0.136534  2.519421e-09
2         2       0.931535        2       0.931535 -1.192708e-07
3         3       0.675004        3       0.675005  1.897668e-07
4         4       0.640478        4       0.640478 -9.786047e-08
5         5       0.014058        5       0.014058  4.477145e-08
6         6      -0.310616        6      -0.310616 -3.851279e-08
7         7      -0.571255        7      -0.571255  7.503791e-08
8         8      -1.037204        8      -1.037204  0.000000e+00
9         9      -0.423400        9      -0.423400  2.546686e-09
10       10      -0.555459       10      -0.555459 -7.731571e-09
11       11      -0.368964       11      -0.368963  5.992547e-08

In [19]:
sql_skl_join.describe()

          KEY_skl  Estimator_skl     KEY_sql  Estimator_sql         Error
count  506.000000     506.000000  506.000000     506.000000  5.060000e+02
mean   252.500000      -0.172709  252.500000      -0.172709 -8.020228e-09
std    146.213884       0.741151  146.213884       0.741151  1.002741e-07
min      0.000000      -1.037204    0.000000      -1.037204 -5.474613e-07
25%    126.250000      -0.760493  126.250000      -0.760493 -4.092312e-08
50%    252.500000      -0.297832  252.500000      -0.297832  0.000000e+00
75%    378.750000       0.179918  378.750000       0.179918  3.672368e-08
max    505.000000       2.490843  505.000000       2.490843  6.210996e-07