In [1]:
import os, numpy as np
import pandas as pd

# os.environ["KERAS_BACKEND"] = "theano"

import keras 
from sklearn import datasets

from sklearn.model_selection import train_test_split

from keras.utils import np_utils


def set_reproducible():
    import tensorflow as tf
    import random as rn
    import os
    os.environ['PYTHONHASHSEED'] = '1960'
    rn.seed(1960)
    np.random.seed(1960)
    session_conf = tf.ConfigProto(intra_op_parallelism_threads=1, inter_op_parallelism_threads=1)

    from keras import backend as K
    tf.set_random_seed(1960)

    sess = tf.Session(graph=tf.get_default_graph(), config=session_conf)
    K.set_session(sess)

set_reproducible()

Using TensorFlow backend.

# Build a Keras Model

In [2]:
NC = 13

def create_model():
    from keras.models import Sequential
    from keras.layers import Dense, Activation, LSTM

    model = Sequential()
    model.add(LSTM(1, input_shape=(1, NC), batch_size=1 , 
                   activation='relu', recurrent_activation = 'hard_sigmoid', 
                   stateful=True))
    model.add(Dense(1, activation=None))
    model.compile(optimizer='adam', loss='mse')
    return model

In [3]:
boston  = datasets.load_boston()
boston.data = (boston.data - boston.data.mean(axis=0)) / boston.data.std(axis=0)
boston.target = (boston.target - boston.target.mean(axis=0)) / boston.target.std(axis=0)

boston.data = boston.data[:,0:NC]
train_X, test_X, train_y, test_y = train_test_split(boston.data, boston.target, train_size=0.8, test_size=0.2, random_state=1960)
train_X = train_X.reshape(train_X.shape[0] , 1, train_X.shape[1])
test_X = test_X.reshape(test_X.shape[0] , 1, test_X.shape[1])

In [4]:
# train_X

In [5]:
#boston.target

In [6]:

from keras.wrappers.scikit_learn import KerasRegressor

clf = KerasRegressor(build_fn=create_model, batch_size=1, epochs=12, verbose=2)

print(train_X.shape , train_y.shape, train_X.dtype , train_y.dtype)
clf.fit(train_X, train_y)

(404, 1, 13) (404,) float64 float64
Epoch 1/12
 - 1s - loss: 0.9097
Epoch 2/12
 - 1s - loss: 0.7768
Epoch 3/12
 - 1s - loss: 0.7096
Epoch 4/12
 - 1s - loss: 0.6683
Epoch 5/12
 - 1s - loss: 0.6345
Epoch 6/12
 - 1s - loss: 0.6381
Epoch 7/12
 - 1s - loss: 0.6038
Epoch 8/12
 - 1s - loss: 0.5923
Epoch 9/12
 - 1s - loss: 0.5876
Epoch 10/12
 - 1s - loss: 0.5533
Epoch 11/12
 - 1s - loss: 0.5730
Epoch 12/12
 - 1s - loss: 0.5818

In [7]:
print(test_X.shape)
preds = clf.predict(test_X)
clf.model.reset_states()
print(preds)

(102, 1, 13)
[ 0.0207518   0.03833076 -0.21843398  0.1677813   0.40600446  0.08121994
 -0.8043811  -0.32532722 -1.2992933  -1.2992933  -0.5672025  -0.5388996
  0.07336983 -1.0020304   0.36175203 -0.69181365  0.47101206  0.4798105
 -1.4180789   0.29504418 -0.03423762  0.51414496 -0.33892286  0.4014644
  0.4729204   0.33409888  0.22984484 -1.1601603   0.03160489 -1.3102145
  0.12384576 -0.85965854 -1.6342416   0.51414496  0.51414496  0.49440336
  0.51016253 -0.72887427 -0.32680416  0.40364698 -0.51963705 -0.13594335
  0.2051261  -0.7288142  -0.29860908  0.13765714  0.427926    0.30006522
 -1.6270752  -0.88354474 -0.56647485 -0.72110945 -0.91637534  0.51414496
 -0.32138628 -0.9913402   0.4566462   0.3189273   0.3823691   0.11927098
 -0.23419374  0.48802912  0.4798988   0.48354673 -1.3033409   0.36444557
  0.49215528 -0.02435744 -0.9773939   0.17624131  0.28602597  0.5049279
  0.4997423   0.5097383   0.18369824 -1.3262553   0.51414496  0.51414496
 -0.77828723  0.31449568 -0.07395416  0.35148954  0.44515157 -0.0990445
 -0.29388738  0.46517375  0.26756608  0.51414496 -0.08069581  0.49432316
 -1.4580369   0.4103943   0.34583312 -0.4277122   0.22951823  0.44210726
  0.50795394  0.51055485  0.513135    0.5105601   0.513105   -0.49176687]

In [8]:
pd.DataFrame(boston.data).describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,506.000000,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02
mean,0.000000,6.319056e-17,-3.145486e-15,-2.106352e-17,2.752300e-15,-1.150770e-14,-1.137430e-15,7.582867e-16,5.616939e-17,5.616939e-17,-1.022283e-14,8.593916e-15,-5.897786e-16
std,1.000990,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00
min,-0.417713,-4.877224e-01,-1.557842e+00,-2.725986e-01,-1.465882e+00,-3.880249e+00,-2.335437e+00,-1.267069e+00,-9.828429e-01,-1.313990e+00,-2.707379e+00,-3.907193e+00,-1.531127e+00
25%,-0.408896,-4.877224e-01,-8.676906e-01,-2.725986e-01,-9.130288e-01,-5.686303e-01,-8.374480e-01,-8.056878e-01,-6.379618e-01,-7.675760e-01,-4.880391e-01,2.050715e-01,-7.994200e-01
50%,-0.388582,-4.877224e-01,-2.110985e-01,-2.725986e-01,-1.442174e-01,-1.084655e-01,3.173816e-01,-2.793234e-01,-5.230014e-01,-4.646726e-01,2.748590e-01,3.811865e-01,-1.812536e-01
75%,0.006248,4.877224e-02,1.015999e+00,-2.725986e-01,5.986790e-01,4.827678e-01,9.067981e-01,6.623709e-01,1.661245e+00,1.530926e+00,8.065758e-01,4.336510e-01,6.030188e-01
max,9.941735,3.804234e+00,2.422565e+00,3.668398e+00,2.732346e+00,3.555044e+00,1.117494e+00,3.960518e+00,1.661245e+00,1.798194e+00,1.638828e+00,4.410519e-01,3.548771e+00

# Generate SQL Code from the Model

In [9]:
import json, requests, base64, dill as pickle, sys



sys.setrecursionlimit(200000)
pickle.settings['recurse'] = False

# no luck for the web service... pickling feature of tensorflow and/or keras objects seems not to be a priority.
# there is a lot of github issues in the two projects when I search for pickle keyword!!!.

def test_ws_sql_gen(pickle_data):
    WS_URL="http://localhost:1888/model"
    b64_data = base64.b64encode(pickle_data).decode('utf-8')
    data={"Name":"model1", "PickleData":b64_data , "SQLDialect":"postgresql"}
    r = requests.post(WS_URL, json=data)
    print(r.__dict__)
    content = r.json()
    # print(content)
    lSQL = content["model"]["SQLGenrationResult"][0]["SQL"]
    return lSQL;



def test_sql_gen(keras_regressor , metadata):
    import sklearn2sql.PyCodeGenerator as codegen
    cg1 = codegen.cAbstractCodeGenerator();
    cg1.mOptions.mActivateMaterialization = False
    lSQL = cg1.generateCodeWithMetadata(clf, metadata, dsn = None, dialect = "postgresql");
    return lSQL[1]

In [10]:
# commented .. see above
# pickle_data = pickle.dumps(clf)
# lSQL = test_ws_sql_gen(pickle_data)
# print(lSQL[0:2000])

In [11]:
lMetaData = {}
lMetaData['features'] = list(boston.feature_names)[0:NC];
lMetaData["targets"] = ['TGT']
lMetaData['primary_key'] = 'KEY'
lMetaData['table'] = 'boston'

lSQL = test_sql_gen(clf , lMetaData)

cGenerationWrapperFactory::createWrapper() <class 'keras.wrappers.scikit_learn.KerasRegressor'>
BACKEND_DIALECT postgresql
CREATING_DATABASE_BACKEND_DSN_DIALECT 1.2.7 None postgresql
KERAS_REG_GENERATE_EXPRESSION_START <class 'sqlalchemy.sql.selectable.Alias'> <class 'sklearn2sql.GenericModels.Keras.cSerializedKeras'>
{'mKerasData': <keras.wrappers.scikit_learn.KerasRegressor object at 0x7faaf8427b38>, 'mFeatureNames': ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT'], 'mClasses': None, 'mMode': 'Regression'}
{'build_fn': <function create_model at 0x7faaf8425d90>, 'sk_params': {'batch_size': 1, 'epochs': 12, 'verbose': 2}, 'model': <keras.engine.sequential.Sequential object at 0x7faaf8427cc0>}
ABSTRACT_GENERATE_CTE keras_input keras_input 14 False False
ABSTRACT_GENERATE_SIMPLE_CTE keras_input 14
GENERATING_LAYER 0 lstm_1 <class 'keras.layers.recurrent.LSTM'> {'input_spec': [InputSpec(shape=(1, None, 13), ndim=3)], 'supports_masking': True, 'stateful': True, '_trainable_weights': [], '_non_trainable_weights': [], '_losses': [], '_updates': [(<tf.Variable 'lstm_1/Variable:0' shape=(1, 1) dtype=float32_ref>, <tf.Tensor 'lstm_1/while/Exit_3:0' shape=(1, 1) dtype=float32>), (<tf.Variable 'lstm_1/Variable_1:0' shape=(1, 1) dtype=float32_ref>, <tf.Tensor 'lstm_1/while/Exit_4:0' shape=(1, 1) dtype=float32>)], '_per_input_losses': {}, '_per_input_updates': {'140372286407120': [(<tf.Variable 'lstm_1/Variable:0' shape=(1, 1) dtype=float32_ref>, <tf.Tensor 'lstm_1/while/Exit_3:0' shape=(1, 1) dtype=float32>), (<tf.Variable 'lstm_1/Variable_1:0' shape=(1, 1) dtype=float32_ref>, <tf.Tensor 'lstm_1/while/Exit_4:0' shape=(1, 1) dtype=float32>)]}, '_built': True, '_inbound_nodes': [<keras.engine.base_layer.Node object at 0x7faaf40f7c18>], '_outbound_nodes': [<keras.engine.base_layer.Node object at 0x7faaf4095da0>], 'name': 'lstm_1', 'trainable': True, 'batch_input_shape': (1, 1, 13), 'dtype': 'float32', '_initial_weights': None, 'cell': <keras.layers.recurrent.LSTMCell object at 0x7faaf8427f60>, 'return_sequences': False, 'return_state': False, 'go_backwards': False, 'unroll': False, 'state_spec': [InputSpec(shape=(None, 1), ndim=2), InputSpec(shape=(None, 1), ndim=2)], '_states': [<tf.Variable 'lstm_1/Variable:0' shape=(1, 1) dtype=float32_ref>, <tf.Variable 'lstm_1/Variable_1:0' shape=(1, 1) dtype=float32_ref>], 'constants_spec': None, '_num_constants': None, 'activity_regularizer': None}
<class 'sqlalchemy.sql.selectable.CTE'>
ABSTRACT_GENERATE_CTE keras_input keras_input_1 14 False False
ABSTRACT_GENERATE_SIMPLE_CTE keras_input_1 14
KERAS_GENERATE_LAYER_START <class 'keras.layers.recurrent.LSTM'>
KERAS_CREATE_LAYER_START <class 'keras.layers.recurrent.LSTM'>
ABSTRACT_GENERATE_CTE keras_input_1_rn keras_input_1_rn 15 False False
ABSTRACT_GENERATE_SIMPLE_CTE keras_input_1_rn 15
ABSTRACT_GENERATE_CTE lstm_input_kernel_bias lstm_input_kernel_bias 19 False False
ABSTRACT_GENERATE_SIMPLE_CTE lstm_input_kernel_bias 19
GENERATE_ACTIVATION_FUNCTION_ONE_COLUMN hard_sigmoid state_i_1
GENERATE_ACTIVATION_FUNCTION_ONE_COLUMN hard_sigmoid state_f_1
GENERATE_ACTIVATION_FUNCTION_ONE_COLUMN relu state_c_1
GENERATE_ACTIVATION_FUNCTION_ONE_COLUMN hard_sigmoid state_o_1
GENERATE_ACTIVATION_FUNCTION_ONE_COLUMN relu state_c_1
GENERATE_ACTIVATION_FUNCTION_ONE_COLUMN hard_sigmoid state_i_1
GENERATE_ACTIVATION_FUNCTION_ONE_COLUMN hard_sigmoid state_f_1
GENERATE_ACTIVATION_FUNCTION_ONE_COLUMN relu state_c_1
GENERATE_ACTIVATION_FUNCTION_ONE_COLUMN hard_sigmoid state_o_1
GENERATE_ACTIVATION_FUNCTION_ONE_COLUMN relu state_c_1
ABSTRACT_GENERATE_CTE lstm_1 lstm_1 2 False False
ABSTRACT_GENERATE_SIMPLE_CTE lstm_1 2
CHECK_TEMP_TABLES_START lstm_1 [None]
CHECK_TEMP_TABLES_END lstm_1 [None]
CHECK_TEMP_TABLES_START lstm_1 [None]
CHECK_TEMP_TABLES_END lstm_1 [None]
doGenerateCode_CTE lstm_1 <class 'sqlalchemy.sql.selectable.CTE'> 2
doGenerateCode_TEMP lstm_1 [None]
GENERATING_LAYER 1 dense_1 <class 'keras.layers.core.Dense'> {'input_spec': InputSpec(min_ndim=2, axes={-1: 1}), 'supports_masking': True, 'stateful': False, '_trainable_weights': [<tf.Variable 'dense_1/kernel:0' shape=(1, 1) dtype=float32_ref>, <tf.Variable 'dense_1/bias:0' shape=(1,) dtype=float32_ref>], '_non_trainable_weights': [], '_losses': [], '_updates': [], '_per_input_losses': {}, '_per_input_updates': {}, '_built': True, '_inbound_nodes': [<keras.engine.base_layer.Node object at 0x7faaf4095da0>], '_outbound_nodes': [], 'name': 'dense_1', 'trainable': True, '_initial_weights': None, 'units': 1, 'activation': <function linear at 0x7faafd7b3e18>, 'use_bias': True, 'kernel_initializer': <keras.initializers.VarianceScaling object at 0x7faaf4095e80>, 'bias_initializer': <keras.initializers.Zeros object at 0x7faaf40b1668>, 'kernel_regularizer': None, 'bias_regularizer': None, 'activity_regularizer': None, 'kernel_constraint': None, 'bias_constraint': None, 'kernel': <tf.Variable 'dense_1/kernel:0' shape=(1, 1) dtype=float32_ref>, 'bias': <tf.Variable 'dense_1/bias:0' shape=(1,) dtype=float32_ref>}
<class 'sqlalchemy.sql.selectable.CTE'>
ABSTRACT_GENERATE_CTE lstm_1 lstm_1_1 2 False False
ABSTRACT_GENERATE_SIMPLE_CTE lstm_1_1 2
KERAS_GENERATE_LAYER_START <class 'keras.layers.core.Dense'>
KERAS_CREATE_LAYER_START <class 'keras.layers.core.Dense'>
ABSTRACT_GENERATE_CTE layer_dense_1 layer_dense_1 2 False False
ABSTRACT_GENERATE_SIMPLE_CTE layer_dense_1 2
CHECK_TEMP_TABLES_START dense_1 []
CHECK_TEMP_TABLES_END dense_1 []
GENERATE_ACTIVATION_FUNCTION_START linear 2
CHECK_TEMP_TABLES_START dense_1 []
CHECK_TEMP_TABLES_END dense_1 []
CHECK_TEMP_TABLES_START dense_1 []
CHECK_TEMP_TABLES_END dense_1 []
CHECK_TEMP_TABLES_START dense_1 []
CHECK_TEMP_TABLES_END dense_1 []
CHECK_TEMP_TABLES_START dense_1 []
CHECK_TEMP_TABLES_END dense_1 []
doGenerateCode_CTE dense_1 <class 'sqlalchemy.sql.selectable.CTE'> 2
doGenerateCode_TEMP dense_1 []
KERAS_REG_CODE_GENERATION_END <class 'sqlalchemy.sql.selectable.Alias'> <class 'sklearn2sql.GenericModels.Keras.cSerializedKeras'>
DUMP_RESULT_CLASSES : []
DUMP_RESULT_KEY_EXPRESSIONS : ['KEY']
DUMP_RESULT_DECISION_EXPRESSION : None
DUMP_RESULT_DECISION_PROBABILITY_EXPRESSION : None
DUMP_RESULT_REG_EXPRESSIONS : {'Estimator': <sqlalchemy.sql.elements.Label object at 0x7faae04cdf28>}
DUMP_RESULT_FEATURE_EXPRESSIONS : 0
DUMP_TEMP_TABLES : [None, None, None, None]
DUMP_RESULT_TEMP_TABLE : 0 4 <class 'NoneType'> None
DUMP_RESULT_TEMP_TABLE : 1 4 <class 'NoneType'> None
DUMP_RESULT_TEMP_TABLE : 2 4 <class 'NoneType'> None
DUMP_RESULT_TEMP_TABLE : 3 4 <class 'NoneType'> None
0 None
1 None
2 None
3 None
TEMP_SQLS []
FINAL_SQL WITH RECURSIVE keras_input AS
(SELECT "...put_1 AS "Estimator"
FROM layer_dense_1

In [12]:
print(lSQL)

WITH RECURSIVE keras_input AS
(SELECT "ADS"."KEY" AS "KEY", "ADS"."CRIM" AS "CRIM", "ADS"."ZN" AS "ZN", "ADS"."INDUS" AS "INDUS", "ADS"."CHAS" AS "CHAS", "ADS"."NOX" AS "NOX", "ADS"."RM" AS "RM", "ADS"."AGE" AS "AGE", "ADS"."DIS" AS "DIS", "ADS"."RAD" AS "RAD", "ADS"."TAX" AS "TAX", "ADS"."PTRATIO" AS "PTRATIO", "ADS"."B" AS "B", "ADS"."LSTAT" AS "LSTAT"
FROM boston AS "ADS"),
keras_input_1 AS
(SELECT keras_input."KEY" AS "KEY", keras_input."CRIM" AS "CRIM", keras_input."ZN" AS "ZN", keras_input."INDUS" AS "INDUS", keras_input."CHAS" AS "CHAS", keras_input."NOX" AS "NOX", keras_input."RM" AS "RM", keras_input."AGE" AS "AGE", keras_input."DIS" AS "DIS", keras_input."RAD" AS "RAD", keras_input."TAX" AS "TAX", keras_input."PTRATIO" AS "PTRATIO", keras_input."B" AS "B", keras_input."LSTAT" AS "LSTAT"
FROM keras_input),
keras_input_1_rn AS
(SELECT row_number() OVER (ORDER BY keras_input_1."KEY" ASC) AS rn, keras_input_1."KEY" AS "KEY", keras_input_1."CRIM" AS "CRIM", keras_input_1."ZN" AS "ZN", keras_input_1."INDUS" AS "INDUS", keras_input_1."CHAS" AS "CHAS", keras_input_1."NOX" AS "NOX", keras_input_1."RM" AS "RM", keras_input_1."AGE" AS "AGE", keras_input_1."DIS" AS "DIS", keras_input_1."RAD" AS "RAD", keras_input_1."TAX" AS "TAX", keras_input_1."PTRATIO" AS "PTRATIO", keras_input_1."B" AS "B", keras_input_1."LSTAT" AS "LSTAT"
FROM keras_input_1),
lstm_input_kernel_bias AS
(SELECT keras_input_1_rn.rn AS rn, keras_input_1_rn."KEY" AS "KEY", keras_input_1_rn."CRIM" AS "CRIM", keras_input_1_rn."ZN" AS "ZN", keras_input_1_rn."INDUS" AS "INDUS", keras_input_1_rn."CHAS" AS "CHAS", keras_input_1_rn."NOX" AS "NOX", keras_input_1_rn."RM" AS "RM", keras_input_1_rn."AGE" AS "AGE", keras_input_1_rn."DIS" AS "DIS", keras_input_1_rn."RAD" AS "RAD", keras_input_1_rn."TAX" AS "TAX", keras_input_1_rn."PTRATIO" AS "PTRATIO", keras_input_1_rn."B" AS "B", keras_input_1_rn."LSTAT" AS "LSTAT", 0.10672934353351593 + 0.163919597864151 * keras_input_1_rn."CRIM" + -0.03194794803857803 * keras_input_1_rn."ZN" + 0.21337442100048065 * keras_input_1_rn."INDUS" + 0.031388286501169205 * keras_input_1_rn."CHAS" + 0.7246851325035095 * keras_input_1_rn."NOX" + -0.35630446672439575 * keras_input_1_rn."RM" + -0.025563938543200493 * keras_input_1_rn."AGE" + 0.24232088029384613 * keras_input_1_rn."DIS" + -0.13322016596794128 * keras_input_1_rn."RAD" + 0.026198381558060646 * keras_input_1_rn."TAX" + 0.5708609819412231 * keras_input_1_rn."PTRATIO" + -0.18796201050281525 * keras_input_1_rn."B" + 0.453700453042984 * keras_input_1_rn."LSTAT" AS dot_prod_i_1, 0.9609798192977905 + 0.3609131872653961 * keras_input_1_rn."CRIM" + 0.2229004055261612 * keras_input_1_rn."ZN" + 0.09478592872619629 * keras_input_1_rn."INDUS" + -0.4035325348377228 * keras_input_1_rn."CHAS" + -0.26816490292549133 * keras_input_1_rn."NOX" + -0.6180880665779114 * keras_input_1_rn."RM" + 0.22111470997333527 * keras_input_1_rn."AGE" + -0.14471307396888733 * keras_input_1_rn."DIS" + -0.3320220112800598 * keras_input_1_rn."RAD" + 0.2680017352104187 * keras_input_1_rn."TAX" + 0.5445944666862488 * keras_input_1_rn."PTRATIO" + -0.5875908732414246 * keras_input_1_rn."B" + 0.3953458070755005 * keras_input_1_rn."LSTAT" AS dot_prod_f_1, 0.7140465974807739 + 0.1408959925174713 * keras_input_1_rn."CRIM" + -0.7253492474555969 * keras_input_1_rn."ZN" + 0.739716112613678 * keras_input_1_rn."INDUS" + -0.6423301696777344 * keras_input_1_rn."CHAS" + 0.8332521915435791 * keras_input_1_rn."NOX" + 0.3101569712162018 * keras_input_1_rn."RM" + -0.016906341537833214 * keras_input_1_rn."AGE" + -0.41318491101264954 * keras_input_1_rn."DIS" + -0.014476179145276546 * keras_input_1_rn."RAD" + 0.31706443428993225 * keras_input_1_rn."TAX" + 0.48437848687171936 * keras_input_1_rn."PTRATIO" + 0.06505788862705231 * keras_input_1_rn."B" + 0.8399368524551392 * keras_input_1_rn."LSTAT" AS dot_prod_c_1, 0.21403007209300995 + 0.03939944505691528 * keras_input_1_rn."CRIM" + -0.5467344522476196 * keras_input_1_rn."ZN" + 0.08100990951061249 * keras_input_1_rn."INDUS" + -0.35567885637283325 * keras_input_1_rn."CHAS" + 0.1693502515554428 * keras_input_1_rn."NOX" + -0.20939835906028748 * keras_input_1_rn."RM" + 0.5848848819732666 * keras_input_1_rn."AGE" + 0.23618096113204956 * keras_input_1_rn."DIS" + -0.36997848749160767 * keras_input_1_rn."RAD" + 0.3641752004623413 * keras_input_1_rn."TAX" + 0.428730845451355 * keras_input_1_rn."PTRATIO" + -0.14055296778678894 * keras_input_1_rn."B" + 0.9000278115272522 * keras_input_1_rn."LSTAT" AS dot_prod_o_1
FROM keras_input_1_rn),
rnn_cte_lstm_1(rn_1, "KEY", "PreviousState_1", "PreviousState_2", output_1, "State_1", "State_2") AS
(SELECT lstm_input_kernel_bias.rn AS rn_1, lstm_input_kernel_bias."KEY" AS "KEY", CAST(0.0 AS FLOAT) AS "PreviousState_1", CAST(0.0 AS FLOAT) AS "PreviousState_2", (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_o_1 + 0.5033681392669678 * 0.0) < 2.5) THEN lstm_input_kernel_bias.dot_prod_o_1 + 0.5033681392669678 * 0.0 ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_o_1 + 0.5033681392669678 * 0.0) END + 0.5) * greatest((0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_i_1 + -0.9779685735702515 * 0.0) < 2.5) THEN lstm_input_kernel_bias.dot_prod_i_1 + -0.9779685735702515 * 0.0 ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_i_1 + -0.9779685735702515 * 0.0) END + 0.5) * greatest(lstm_input_kernel_bias.dot_prod_c_1 + 0.7591717839241028 * 0.0, 0) + (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_f_1 + -0.2028540074825287 * 0.0) < 2.5) THEN lstm_input_kernel_bias.dot_prod_f_1 + -0.2028540074825287 * 0.0 ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_f_1 + -0.2028540074825287 * 0.0) END + 0.5) * 0.0, 0) AS output_1, (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_o_1 + 0.5033681392669678 * 0.0) < 2.5) THEN lstm_input_kernel_bias.dot_prod_o_1 + 0.5033681392669678 * 0.0 ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_o_1 + 0.5033681392669678 * 0.0) END + 0.5) * greatest((0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_i_1 + -0.9779685735702515 * 0.0) < 2.5) THEN lstm_input_kernel_bias.dot_prod_i_1 + -0.9779685735702515 * 0.0 ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_i_1 + -0.9779685735702515 * 0.0) END + 0.5) * greatest(lstm_input_kernel_bias.dot_prod_c_1 + 0.7591717839241028 * 0.0, 0) + (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_f_1 + -0.2028540074825287 * 0.0) < 2.5) THEN lstm_input_kernel_bias.dot_prod_f_1 + -0.2028540074825287 * 0.0 ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_f_1 + -0.2028540074825287 * 0.0) END + 0.5) * 0.0, 0) AS "State_1", (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_i_1 + -0.9779685735702515 * 0.0) < 2.5) THEN lstm_input_kernel_bias.dot_prod_i_1 + -0.9779685735702515 * 0.0 ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_i_1 + -0.9779685735702515 * 0.0) END + 0.5) * greatest(lstm_input_kernel_bias.dot_prod_c_1 + 0.7591717839241028 * 0.0, 0) + (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_f_1 + -0.2028540074825287 * 0.0) < 2.5) THEN lstm_input_kernel_bias.dot_prod_f_1 + -0.2028540074825287 * 0.0 ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_f_1 + -0.2028540074825287 * 0.0) END + 0.5) * 0.0 AS "State_2"
FROM lstm_input_kernel_bias
WHERE lstm_input_kernel_bias.rn = 1 UNION ALL SELECT lstm_input_kernel_bias.rn AS rn, lstm_input_kernel_bias."KEY" AS "KEY", rnn_cte_lstm_1."State_1" AS "PreviousState_1", rnn_cte_lstm_1."State_2" AS "PreviousState_2", (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_o_1 + 0.5033681392669678 * rnn_cte_lstm_1."State_1") < 2.5) THEN lstm_input_kernel_bias.dot_prod_o_1 + 0.5033681392669678 * rnn_cte_lstm_1."State_1" ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_o_1 + 0.5033681392669678 * rnn_cte_lstm_1."State_1") END + 0.5) * greatest((0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_i_1 + -0.9779685735702515 * rnn_cte_lstm_1."State_1") < 2.5) THEN lstm_input_kernel_bias.dot_prod_i_1 + -0.9779685735702515 * rnn_cte_lstm_1."State_1" ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_i_1 + -0.9779685735702515 * rnn_cte_lstm_1."State_1") END + 0.5) * greatest(lstm_input_kernel_bias.dot_prod_c_1 + 0.7591717839241028 * rnn_cte_lstm_1."State_1", 0) + (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_f_1 + -0.2028540074825287 * rnn_cte_lstm_1."State_1") < 2.5) THEN lstm_input_kernel_bias.dot_prod_f_1 + -0.2028540074825287 * rnn_cte_lstm_1."State_1" ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_f_1 + -0.2028540074825287 * rnn_cte_lstm_1."State_1") END + 0.5) * rnn_cte_lstm_1."State_2", 0) AS output_1, (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_o_1 + 0.5033681392669678 * rnn_cte_lstm_1."State_1") < 2.5) THEN lstm_input_kernel_bias.dot_prod_o_1 + 0.5033681392669678 * rnn_cte_lstm_1."State_1" ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_o_1 + 0.5033681392669678 * rnn_cte_lstm_1."State_1") END + 0.5) * greatest((0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_i_1 + -0.9779685735702515 * rnn_cte_lstm_1."State_1") < 2.5) THEN lstm_input_kernel_bias.dot_prod_i_1 + -0.9779685735702515 * rnn_cte_lstm_1."State_1" ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_i_1 + -0.9779685735702515 * rnn_cte_lstm_1."State_1") END + 0.5) * greatest(lstm_input_kernel_bias.dot_prod_c_1 + 0.7591717839241028 * rnn_cte_lstm_1."State_1", 0) + (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_f_1 + -0.2028540074825287 * rnn_cte_lstm_1."State_1") < 2.5) THEN lstm_input_kernel_bias.dot_prod_f_1 + -0.2028540074825287 * rnn_cte_lstm_1."State_1" ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_f_1 + -0.2028540074825287 * rnn_cte_lstm_1."State_1") END + 0.5) * rnn_cte_lstm_1."State_2", 0) AS "State_1", (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_i_1 + -0.9779685735702515 * rnn_cte_lstm_1."State_1") < 2.5) THEN lstm_input_kernel_bias.dot_prod_i_1 + -0.9779685735702515 * rnn_cte_lstm_1."State_1" ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_i_1 + -0.9779685735702515 * rnn_cte_lstm_1."State_1") END + 0.5) * greatest(lstm_input_kernel_bias.dot_prod_c_1 + 0.7591717839241028 * rnn_cte_lstm_1."State_1", 0) + (0.2 * CASE WHEN (abs(lstm_input_kernel_bias.dot_prod_f_1 + -0.2028540074825287 * rnn_cte_lstm_1."State_1") < 2.5) THEN lstm_input_kernel_bias.dot_prod_f_1 + -0.2028540074825287 * rnn_cte_lstm_1."State_1" ELSE 2.5 * sign(lstm_input_kernel_bias.dot_prod_f_1 + -0.2028540074825287 * rnn_cte_lstm_1."State_1") END + 0.5) * rnn_cte_lstm_1."State_2" AS "State_2"
FROM lstm_input_kernel_bias, rnn_cte_lstm_1
WHERE lstm_input_kernel_bias.rn = rnn_cte_lstm_1.rn_1 + 1),
lstm_1 AS
(SELECT rnn_cte_lstm_1."KEY" AS "KEY", CAST(rnn_cte_lstm_1."State_2" AS FLOAT) AS output_1
FROM rnn_cte_lstm_1),
lstm_1_1 AS
(SELECT lstm_1."KEY" AS "KEY", lstm_1.output_1 AS output_1
FROM lstm_1),
layer_dense_1 AS
(SELECT lstm_1_1."KEY" AS "KEY", 0.5141449570655823 + -0.2756226062774658 * lstm_1_1.output_1 AS output_1
FROM lstm_1_1)
 SELECT layer_dense_1."KEY" AS "KEY", layer_dense_1.output_1 AS "Estimator"
FROM layer_dense_1

# Execute the SQL Code

In [13]:
# save the dataset in a database table


import sqlalchemy as sa

#engine = sa.create_engine('sqlite://' , echo=False)
engine = sa.create_engine("postgresql://db:db@localhost/db?port=5432", echo=False)
conn = engine.connect()

lTable = pd.DataFrame(boston.data);
lTable.columns = lMetaData['features']
lTable['TGT'] = boston.target
lTable['KEY'] = range(boston.data.shape[0])
lTable.to_sql(lMetaData['table'] , conn,   if_exists='replace', index=False)

In [14]:
sql_output = pd.read_sql(lSQL , conn);
conn.close()

In [15]:
sql_output.sample(12, random_state=1960)

     KEY  Estimator
230  230   0.514145
112  112   0.111537
125  125  -0.204396
9      9   0.455505
213  213   0.498373
109  109  -0.087921
127  127  -0.613719
244  244   0.514145
406  406  -1.162635
490  490  -1.100100
245  245   0.514145
133  133  -0.647363

# Keras Prediction

In [16]:
clf.model.reset_states()
skl_output = pd.DataFrame()
skl_output_key = pd.DataFrame(list(range(boston.data.shape[0])), columns=['KEY']);
data = boston.data.reshape(boston.data.shape[0] , 1, boston.data.shape[1])
skl_out = clf.predict(data)
print(skl_out.shape)
skl_output_estimator = pd.DataFrame(skl_out, columns=['Estimator'])
skl_output['KEY'] = skl_output_key['KEY']
skl_output['Estimator'] = skl_output_estimator
skl_output.sample(12, random_state=1960)

(506,)

     KEY  Estimator
230  230   0.514145
112  112   0.166987
125  125  -0.204396
9      9   0.473273
213  213   0.508717
109  109  -0.087921
127  127  -0.613719
244  244   0.514145
406  406  -1.162634
490  490  -1.100100
245  245   0.514145
133  133  -0.647363

# Comparing the SQL and Keras Predictions

In [17]:
sql_skl_join = skl_output.join(sql_output , how='left', on='KEY', lsuffix='_skl', rsuffix='_sql')
sql_skl_join['Error'] = sql_skl_join.Estimator_sql - sql_skl_join.Estimator_skl

In [18]:
sql_skl_join.head(12)

    KEY_skl  Estimator_skl  KEY_sql  Estimator_sql         Error
0         0       0.514145        0       0.514145 -2.220446e-16
1         1       0.514145        1       0.514145 -2.220446e-16
2         2       0.514145        2       0.514145 -2.220446e-16
3         3       0.514145        3       0.514145 -2.220446e-16
4         4       0.514145        4       0.514145 -2.220446e-16
5         5       0.514145        5       0.514145 -2.220446e-16
6         6       0.514145        6       0.514145 -2.220446e-16
7         7       0.514145        7       0.514145 -2.220446e-16
8         8       0.410564        8       0.410564  1.734291e-08
9         9       0.473273        9       0.455505 -1.776870e-02
10       10       0.489218       10       0.481520 -7.697985e-03
11       11       0.504838       11       0.497143 -7.694042e-03

In [19]:
sql_skl_join.describe()

          KEY_skl  Estimator_skl     KEY_sql  Estimator_sql         Error
count  506.000000     506.000000  506.000000     506.000000  5.060000e+02
mean   252.500000       0.038123  252.500000       0.018270 -1.985330e-02
std    146.213884       0.616071  146.213884       0.612887  4.424207e-02
min      0.000000      -1.847390    0.000000      -1.847390 -2.603259e-01
25%    126.250000      -0.403584  126.250000      -0.417339 -7.906886e-03
50%    252.500000       0.420944  252.500000       0.362401 -8.005880e-08
75%    378.750000       0.514145  378.750000       0.514145 -2.220446e-16
max    505.000000       0.514145  505.000000       0.514145  2.687203e-07