In [1]:
import os, numpy as np
import pandas as pd

os.environ["KERAS_BACKEND"] = "tensorflow"

import keras 
from sklearn import datasets

from sklearn.model_selection import train_test_split

from keras.utils import np_utils

/home/antoine/.local/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.
/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

# Build a Keras Model

In [16]:


def create_model():
    from keras.models import Sequential
    from keras.layers.core import Dense, Activation

    model = Sequential()
    model.add(Dense(12, input_dim=13))
    model.add(Dense(1))
    model.compile(optimizer='rmsprop', loss='mse')
    return model

In [17]:
boston  = datasets.load_boston()
train_X, test_X, train_y, test_y = train_test_split(boston.data, boston.target, train_size=0.8, test_size=0.2, random_state=1960)

In [18]:

from keras.wrappers.scikit_learn import KerasRegressor

clf = KerasRegressor(build_fn=create_model, epochs=12, verbose=0)

print(train_X.shape , train_y.shape)
clf.fit(train_X, train_y, verbose=0)

(404, 13) (404,)

In [19]:
print(test_X.shape)
preds = clf.predict(test_X[0,:].reshape(1,13))
print(preds)

(102, 13)
38.092304

# Generate SQL Code from the Model

In [20]:
import json, requests, base64, dill as pickle, sys



sys.setrecursionlimit(200000)
pickle.settings['recurse'] = False

# no luck for the web service... pickling feature of tensorflow and/or keras objects seems not to be a priority.
# there is a lot of github issues in the two projects when I search for pickle keyword!!!.

def test_ws_sql_gen(pickle_data):
    WS_URL="http://localhost:1888/model"
    b64_data = base64.b64encode(pickle_data).decode('utf-8')
    data={"Name":"model1", "PickleData":b64_data , "SQLDialect":"postgresql"}
    r = requests.post(WS_URL, json=data)
    print(r.__dict__)
    content = r.json()
    # print(content)
    lSQL = content["model"]["SQLGenrationResult"][0]["SQL"]
    return lSQL;



def test_sql_gen(keras_regressor , metadata):
    import sklearn2sql.PyCodeGenerator as codegen
    cg1 = codegen.cAbstractCodeGenerator();
    lSQL = cg1.generateCodeWithMetadata(clf, metadata, dsn = None, dialect = "postgresql");
    return lSQL[0]

In [21]:
# commented .. see above
# pickle_data = pickle.dumps(clf)
# lSQL = test_ws_sql_gen(pickle_data)
# print(lSQL[0:2000])

In [22]:
lMetaData = {}
lMetaData['features'] = list(boston.feature_names);
lMetaData["targets"] = ['TGT']
lMetaData['primary_key'] = 'KEY'
lMetaData['table'] = 'boston'

    
lSQL = test_sql_gen(clf , lMetaData)

/usr/local/lib/python3.6/dist-packages/xgboost
cGenerationWrapperFactory::createWrapper() <class 'keras.wrappers.scikit_learn.KerasRegressor'>
BACKEND_DIALECT postgresql
CREATING_DATABASE_BACKEND_DSN_DIALECT 1.2.2 None postgresql
KERAS_REG_GENERATE_EXPRESSION_START <class 'sqlalchemy.sql.selectable.Alias'> <class 'sklearn2sql.GenericModels.Keras.cSerializedKeras'>
{'mKerasData': <keras.wrappers.scikit_learn.KerasRegressor object at 0x7faf3afcdf98>, 'mFeatureNames': ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT'], 'mClasses': None, 'mMode': 'Regression'}
{'build_fn': <function create_model at 0x7faf3afb79d8>, 'sk_params': {'epochs': 12, 'verbose': 0}, 'model': <keras.models.Sequential object at 0x7faf3f2c0e10>}
ABSTRACT_GENERATE_CTE keras_input keras_input 14
GENERATING_LAYER 0 dense_5 <class 'keras.layers.core.Dense'> {'input_spec': <keras.engine.topology.InputSpec object at 0x7faf3f2c0518>, 'supports_masking': True, '_trainable_weights': [<tf.Variable 'dense_5/kernel:0' shape=(13, 12) dtype=float32_ref>, <tf.Variable 'dense_5/bias:0' shape=(12,) dtype=float32_ref>], '_non_trainable_weights': [], '_losses': [], '_updates': [], '_per_input_losses': {}, '_per_input_updates': {}, '_built': True, 'inbound_nodes': [<keras.engine.topology.Node object at 0x7faf3f2c0ef0>], 'outbound_nodes': [<keras.engine.topology.Node object at 0x7faf3f2c00b8>], 'name': 'dense_5', 'trainable': True, 'batch_input_shape': (None, 13), 'dtype': 'float32', '_initial_weights': None, 'units': 12, 'activation': <function linear at 0x7faf41c740d0>, 'use_bias': True, 'kernel_initializer': <keras.initializers.VarianceScaling object at 0x7faf3afcd630>, 'bias_initializer': <keras.initializers.Zeros object at 0x7faf3af5e0b8>, 'kernel_regularizer': None, 'bias_regularizer': None, 'activity_regularizer': None, 'kernel_constraint': None, 'bias_constraint': None, 'kernel': <tf.Variable 'dense_5/kernel:0' shape=(13, 12) dtype=float32_ref>, 'bias': <tf.Variable 'dense_5/bias:0' shape=(12,) dtype=float32_ref>}
LAYER_CHECK_COLUMNS ('dense_5', <class 'keras.layers.core.Dense'>, (None, 13), 14, 14)
KERAS_GENERATE_LAYER_START <class 'keras.layers.core.Dense'>
ABSTRACT_GENERATE_CTE layer_dense_5 layer_dense_5 13
GENERATING_LAYER 1 dense_6 <class 'keras.layers.core.Dense'> {'input_spec': <keras.engine.topology.InputSpec object at 0x7faf3af5ec18>, 'supports_masking': True, '_trainable_weights': [<tf.Variable 'dense_6/kernel:0' shape=(12, 1) dtype=float32_ref>, <tf.Variable 'dense_6/bias:0' shape=(1,) dtype=float32_ref>], '_non_trainable_weights': [], '_losses': [], '_updates': [], '_per_input_losses': {}, '_per_input_updates': {}, '_built': True, 'inbound_nodes': [<keras.engine.topology.Node object at 0x7faf3f2c00b8>], 'outbound_nodes': [], 'name': 'dense_6', 'trainable': True, '_initial_weights': None, 'units': 1, 'activation': <function linear at 0x7faf41c740d0>, 'use_bias': True, 'kernel_initializer': <keras.initializers.VarianceScaling object at 0x7faf3f2c06a0>, 'bias_initializer': <keras.initializers.Zeros object at 0x7faf3afcd4a8>, 'kernel_regularizer': None, 'bias_regularizer': None, 'activity_regularizer': None, 'kernel_constraint': None, 'bias_constraint': None, 'kernel': <tf.Variable 'dense_6/kernel:0' shape=(12, 1) dtype=float32_ref>, 'bias': <tf.Variable 'dense_6/bias:0' shape=(1,) dtype=float32_ref>}
LAYER_CHECK_COLUMNS ('dense_6', <class 'keras.layers.core.Dense'>, (None, 12), 13, 13)
KERAS_GENERATE_LAYER_START <class 'keras.layers.core.Dense'>
ABSTRACT_GENERATE_CTE layer_dense_6 layer_dense_6 2
KERAS_REG_CODE_GENERATION_END <class 'sqlalchemy.sql.selectable.Alias'> <class 'sklearn2sql.GenericModels.Keras.cSerializedKeras'>

In [23]:
print(lSQL)

WITH keras_input AS
(SELECT "ADS"."KEY" AS "KEY", "ADS"."CRIM" AS "CRIM", "ADS"."ZN" AS "ZN", "ADS"."INDUS" AS "INDUS", "ADS"."CHAS" AS "CHAS", "ADS"."NOX" AS "NOX", "ADS"."RM" AS "RM", "ADS"."AGE" AS "AGE", "ADS"."DIS" AS "DIS", "ADS"."RAD" AS "RAD", "ADS"."TAX" AS "TAX", "ADS"."PTRATIO" AS "PTRATIO", "ADS"."B" AS "B", "ADS"."LSTAT" AS "LSTAT"
FROM boston AS "ADS"),
layer_dense_5 AS
(SELECT keras_input."KEY" AS "KEY", 0.0110807865858078 + -0.11323320120573044 * keras_input."CRIM" + -0.31711265444755554 * keras_input."ZN" + 0.46612322330474854 * keras_input."INDUS" + 0.45720869302749634 * keras_input."CHAS" + 0.19844095408916473 * keras_input."NOX" + 0.2507675588130951 * keras_input."RM" + -0.04160049557685852 * keras_input."AGE" + -0.21529483795166016 * keras_input."DIS" + 0.4905403256416321 * keras_input."RAD" + -0.06454608589410782 * keras_input."TAX" + 0.028352104127407074 * keras_input."PTRATIO" + 0.14279663562774658 * keras_input."B" + 0.4624735116958618 * keras_input."LSTAT" AS output_1, -0.010313732549548149 + 0.3109332323074341 * keras_input."CRIM" + 0.22861705720424652 * keras_input."ZN" + 0.19870072603225708 * keras_input."INDUS" + -0.30756035447120667 * keras_input."CHAS" + 0.30439603328704834 * keras_input."NOX" + 0.1047448068857193 * keras_input."RM" + -0.3623547852039337 * keras_input."AGE" + 0.5147193670272827 * keras_input."DIS" + -0.20953652262687683 * keras_input."RAD" + -0.32067835330963135 * keras_input."TAX" + -0.005555625073611736 * keras_input."PTRATIO" + -0.27756360173225403 * keras_input."B" + -0.5179523825645447 * keras_input."LSTAT" AS output_2, -0.010097582824528217 + -0.1415356695652008 * keras_input."CRIM" + 0.03415471687912941 * keras_input."ZN" + 0.28257763385772705 * keras_input."INDUS" + -0.0429372638463974 * keras_input."CHAS" + -0.35733115673065186 * keras_input."NOX" + 0.3305273950099945 * keras_input."RM" + 0.06288662552833557 * keras_input."AGE" + 0.2619360387325287 * keras_input."DIS" + -0.2189672589302063 * keras_input."RAD" + 0.36265918612480164 * keras_input."TAX" + -0.3082203269004822 * keras_input."PTRATIO" + -0.010210500098764896 * keras_input."B" + 0.25957250595092773 * keras_input."LSTAT" AS output_3, 0.007844578474760056 + 0.10127967596054077 * keras_input."CRIM" + -0.34824228286743164 * keras_input."ZN" + -0.061052776873111725 * keras_input."INDUS" + -0.3046395778656006 * keras_input."CHAS" + 0.05315488949418068 * keras_input."NOX" + 0.4729054868221283 * keras_input."RM" + 0.11346200853586197 * keras_input."AGE" + -0.025501949712634087 * keras_input."DIS" + 0.23512279987335205 * keras_input."RAD" + -0.012550952844321728 * keras_input."TAX" + 0.44049525260925293 * keras_input."PTRATIO" + -0.2012084573507309 * keras_input."B" + -0.12578263878822327 * keras_input."LSTAT" AS output_4, -0.052484702318906784 + 0.3646561801433563 * keras_input."CRIM" + 0.17621038854122162 * keras_input."ZN" + -0.37018096446990967 * keras_input."INDUS" + -0.4386703073978424 * keras_input."CHAS" + 0.24701043963432312 * keras_input."NOX" + 0.058929443359375 * keras_input."RM" + 0.07696876674890518 * keras_input."AGE" + -0.37263554334640503 * keras_input."DIS" + 0.44943955540657043 * keras_input."RAD" + 0.37320005893707275 * keras_input."TAX" + -0.4672982692718506 * keras_input."PTRATIO" + -0.48140716552734375 * keras_input."B" + -0.3450336754322052 * keras_input."LSTAT" AS output_5, -0.01015231292694807 + -0.33079275488853455 * keras_input."CRIM" + -0.3687187433242798 * keras_input."ZN" + -0.49255263805389404 * keras_input."INDUS" + 0.18950612843036652 * keras_input."CHAS" + -0.3733840882778168 * keras_input."NOX" + 0.16457825899124146 * keras_input."RM" + -0.5287120938301086 * keras_input."AGE" + -0.271816611289978 * keras_input."DIS" + -0.31849539279937744 * keras_input."RAD" + 0.17907823622226715 * keras_input."TAX" + 0.2926962375640869 * keras_input."PTRATIO" + -0.2218543142080307 * keras_input."B" + 0.3419438898563385 * keras_input."LSTAT" AS output_6, -0.009970233775675297 + 0.04651603847742081 * keras_input."CRIM" + 0.019391296431422234 * keras_input."ZN" + 0.3544299304485321 * keras_input."INDUS" + -0.03185926377773285 * keras_input."CHAS" + -0.013060633093118668 * keras_input."NOX" + -0.24616914987564087 * keras_input."RM" + 0.0685848519206047 * keras_input."AGE" + -0.19086551666259766 * keras_input."DIS" + -0.21612697839736938 * keras_input."RAD" + 0.2986055612564087 * keras_input."TAX" + -0.4662099778652191 * keras_input."PTRATIO" + 0.22806182503700256 * keras_input."B" + -0.2062484323978424 * keras_input."LSTAT" AS output_7, 0.010838469490408897 + 0.5313292741775513 * keras_input."CRIM" + -0.3325119912624359 * keras_input."ZN" + -0.19685032963752747 * keras_input."INDUS" + 0.10173355787992477 * keras_input."CHAS" + -0.26731041073799133 * keras_input."NOX" + -0.08768171072006226 * keras_input."RM" + -0.11646217852830887 * keras_input."AGE" + -0.5184046030044556 * keras_input."DIS" + 0.43958601355552673 * keras_input."RAD" + 0.275236576795578 * keras_input."TAX" + -0.08151204138994217 * keras_input."PTRATIO" + 0.3728039860725403 * keras_input."B" + 0.32137882709503174 * keras_input."LSTAT" AS output_8, 0.010156006552278996 + -0.0633830726146698 * keras_input."CRIM" + 0.3772626519203186 * keras_input."ZN" + -0.26240745186805725 * keras_input."INDUS" + 0.05413644015789032 * keras_input."CHAS" + -0.4067266285419464 * keras_input."NOX" + -0.38404861092567444 * keras_input."RM" + -0.40718379616737366 * keras_input."AGE" + -0.3527699112892151 * keras_input."DIS" + 0.4783487915992737 * keras_input."RAD" + -0.05320415645837784 * keras_input."TAX" + -0.3062669634819031 * keras_input."PTRATIO" + 0.1798381507396698 * keras_input."B" + 0.08671543747186661 * keras_input."LSTAT" AS output_9, -0.010758353397250175 + -0.4059647023677826 * keras_input."CRIM" + 0.317464679479599 * keras_input."ZN" + 0.3223678171634674 * keras_input."INDUS" + -0.3131672143936157 * keras_input."CHAS" + 0.23533304035663605 * keras_input."NOX" + -0.2607942521572113 * keras_input."RM" + -0.1603696495294571 * keras_input."AGE" + -0.1369284838438034 * keras_input."DIS" + 0.09778280556201935 * keras_input."RAD" + 0.13613258302211761 * keras_input."TAX" + -0.34483209252357483 * keras_input."PTRATIO" + -0.0633765384554863 * keras_input."B" + 0.1073966920375824 * keras_input."LSTAT" AS output_10, 0.010471181944012642 + -0.06761898845434189 * keras_input."CRIM" + 0.12262620776891708 * keras_input."ZN" + 0.3995460569858551 * keras_input."INDUS" + -0.3182917535305023 * keras_input."CHAS" + 0.4105421006679535 * keras_input."NOX" + -0.4540517032146454 * keras_input."RM" + -0.10961267352104187 * keras_input."AGE" + 0.03343411535024643 * keras_input."DIS" + -0.13519835472106934 * keras_input."RAD" + 0.122774139046669 * keras_input."TAX" + 0.22135353088378906 * keras_input."PTRATIO" + 0.05940921604633331 * keras_input."B" + -0.12062885612249374 * keras_input."LSTAT" AS output_11, 0.009785196743905544 + 0.30712467432022095 * keras_input."CRIM" + -0.0017416983610019088 * keras_input."ZN" + 0.26984721422195435 * keras_input."INDUS" + -0.1685977280139923 * keras_input."CHAS" + -0.1699177473783493 * keras_input."NOX" + 0.30809104442596436 * keras_input."RM" + 0.44232842326164246 * keras_input."AGE" + -0.2091318815946579 * keras_input."DIS" + -0.17508633434772491 * keras_input."RAD" + -0.2151447981595993 * keras_input."TAX" + -0.4459318220615387 * keras_input."PTRATIO" + -0.33816012740135193 * keras_input."B" + -0.0854281336069107 * keras_input."LSTAT" AS output_12
FROM keras_input),
layer_dense_6 AS
(SELECT layer_dense_5."KEY" AS "KEY", 0.010090907104313374 + 0.06863685697317123 * layer_dense_5.output_1 + -0.6608609557151794 * layer_dense_5.output_2 + -0.3609050214290619 * layer_dense_5.output_3 + 0.1823570728302002 * layer_dense_5.output_4 + 0.07198773324489594 * layer_dense_5.output_5 + -0.4303153157234192 * layer_dense_5.output_6 + -0.5358919501304626 * layer_dense_5.output_7 + 0.2567809820175171 * layer_dense_5.output_8 + 0.35402214527130127 * layer_dense_5.output_9 + -0.08910840004682541 * layer_dense_5.output_10 + 0.4467085003852844 * layer_dense_5.output_11 + 0.48672038316726685 * layer_dense_5.output_12 AS output_1
FROM layer_dense_5)
 SELECT layer_dense_6."KEY" AS "KEY", layer_dense_6.output_1 AS "Estimator"
FROM layer_dense_6

# Execute the SQL Code

In [24]:
# save the dataset in a database table


import sqlalchemy as sa

#engine = sa.create_engine('sqlite://' , echo=False)
engine = sa.create_engine("postgresql://db:db@localhost/db?port=5432", echo=False)
conn = engine.connect()

lTable = pd.DataFrame(boston.data);
lTable.columns = lMetaData['features']
lTable['TGT'] = boston.target
lTable['KEY'] = range(boston.data.shape[0])
lTable.to_sql(lMetaData['table'] , conn,   if_exists='replace', index=False)

In [25]:
sql_output = pd.read_sql(lSQL , conn);

In [26]:
sql_output.sample(12, random_state=1960)

     KEY  Estimator
230  230  38.092299
112  112  32.701267
125  125  61.067988
9      9  43.036557
213  213  23.843837
109  109  37.850608
127  127  31.470673
244  244  34.423350
406  406  18.846141
490  490 -14.846010
245  245  34.971134
133  133  29.924067

# Keras Prediction

In [27]:
skl_output = pd.DataFrame()
skl_output_key = pd.DataFrame(list(range(boston.data.shape[0])), columns=['KEY']);
skl_output_estimator = pd.DataFrame(clf.predict(boston.data), columns=['Estimator'])
skl_output['KEY'] = skl_output_key
skl_output['Estimator'] = skl_output_estimator
skl_output.sample(12, random_state=1960)

     KEY  Estimator
230  230  38.092297
112  112  32.701267
125  125  61.067951
9      9  43.036564
213  213  23.843824
109  109  37.850620
127  127  31.470648
244  244  34.423344
406  406  18.846121
490  490 -14.845973
245  245  34.971119
133  133  29.924063

# Comparing the SQL and Keras Predictions

In [28]:
sql_skl_join = skl_output.join(sql_output , how='left', on='KEY', lsuffix='_skl', rsuffix='_sql')
sql_skl_join['Error'] = sql_skl_join.Estimator_sql - sql_skl_join.Estimator_skl

In [29]:
sql_skl_join.head(12)

    KEY_skl  Estimator_skl  KEY_sql  Estimator_sql     Error
0         0      33.847477        0      33.847512  0.000035
1         1      48.849232        1      48.849204 -0.000028
2         2      39.348309        2      39.348297 -0.000012
3         3      36.128597        3      36.128612  0.000015
4         4      40.555729        4      40.555736  0.000007
5         5      42.288509        5      42.288516  0.000007
6         6      35.348026        6      35.348052  0.000025
7         7      49.538776        7      49.538779  0.000002
8         8      52.205700        8      52.205727  0.000028
9         9      43.036564        9      43.036557 -0.000007
10       10      48.209240       10      48.209238 -0.000002
11       11      42.426243       11      42.426274  0.000032

In [30]:
sql_skl_join.describe()

          KEY_skl  Estimator_skl     KEY_sql  Estimator_sql       Error
count  506.000000     506.000000  506.000000     506.000000  506.000000
mean   252.500000      22.295050  252.500000      22.295056    0.000006
std    146.213884      21.583561  146.213884      21.583562    0.000016
min      0.000000     -46.944653    0.000000     -46.944655   -0.000050
25%    126.250000       9.775058  126.250000       9.775059   -0.000004
50%    252.500000      24.404417  252.500000      24.404425    0.000007
75%    378.750000      37.792643  378.750000      37.792634    0.000017
max    505.000000      65.194275  505.000000      65.194293    0.000054