In [1]:
import os, numpy as np
import pandas as pd

os.environ["KERAS_BACKEND"] = "tensorflow"

import keras 
from sklearn import datasets

from sklearn.model_selection import train_test_split

from keras.utils import np_utils

/home/antoine/.local/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.
/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

# Build a Keras Model

In [2]:

def create_model():
    from keras.models import Sequential
    from keras.layers.core import Dense, Activation, Dropout
    from keras.utils import np_utils

    model = Sequential()
    model.add(Dense(5, input_shape=(4,) , activation='relu'))
    model.add(Dropout(0.3))
    model.add(Dense(3))
    model.add(Activation('softmax'))
    model.compile(loss='categorical_crossentropy', optimizer='adam')
    return model

In [3]:
iris  = datasets.load_iris()
train_X, test_X, train_y, test_y = train_test_split(iris.data, iris.target, train_size=0.8, test_size=0.2, random_state=1960)

In [4]:

from keras.wrappers.scikit_learn import KerasClassifier

clf = KerasClassifier(build_fn=create_model, epochs=12, verbose=0)

print(train_X.shape , train_y.shape)
clf.fit(train_X, train_y, verbose=0)

(120, 4) (120,)

In [5]:
print(test_X.shape)
preds = clf.predict(test_X[0,:].reshape(1,4))
print(preds)

(30, 4)
[0]

# Generate SQL Code from the Model

In [6]:
import json, requests, base64, dill as pickle, sys



sys.setrecursionlimit(200000)
pickle.settings['recurse'] = False

# no luck for the web service... pickling feature of tensorflow and/or keras objects seems not to be a priority.
# there is a lot of github issues in the two projects when I search for pickle keyword!!!.

def test_ws_sql_gen(pickle_data):
    WS_URL="http://localhost:1888/model"
    b64_data = base64.b64encode(pickle_data).decode('utf-8')
    data={"Name":"model1", "PickleData":b64_data , "SQLDialect":"postgresql"}
    r = requests.post(WS_URL, json=data)
    print(r.__dict__)
    content = r.json()
    # print(content)
    lSQL = content["model"]["SQLGenrationResult"][0]["SQL"]
    return lSQL;



def test_sql_gen(keras_regressor , metadata):
    import sklearn2sql.PyCodeGenerator as codegen
    cg1 = codegen.cAbstractCodeGenerator();
    lSQL = cg1.generateCodeWithMetadata(clf, metadata, dsn = None, dialect = "postgresql");
    return lSQL[0]

In [7]:
# commented .. see above
# pickle_data = pickle.dumps(clf)
# lSQL = test_ws_sql_gen(pickle_data)
# print(lSQL[0:2000])

In [8]:
lMetaData = {}
lMetaData['features'] = list(iris.feature_names);
#column name adaptation
lMetaData['features'] = [col.replace(" (cm)" , "_cm") for col in lMetaData['features'] ]

lMetaData["targets"] = ['TGT']
lMetaData['primary_key'] = 'KEY'
lMetaData['table'] = 'iris'

    
lSQL = test_sql_gen(clf , lMetaData)

/usr/local/lib/python3.6/dist-packages/xgboost
cGenerationWrapperFactory::createWrapper() <class 'keras.wrappers.scikit_learn.KerasClassifier'>
cClassifierMixin_CodeGenWrapper::setObject <class 'keras.wrappers.scikit_learn.KerasClassifier'>
BACKEND_DIALECT postgresql
CREATING_DATABASE_BACKEND_DSN_DIALECT 1.2.2 None postgresql
KERAS_GENERATE_EXPRESSION_START <class 'sqlalchemy.sql.selectable.Alias'> <class 'sklearn2sql.GenericModels.Keras.cSerializedKeras'>
{'mKerasData': <keras.wrappers.scikit_learn.KerasClassifier object at 0x7f0963b7eda0>, 'mFeatureNames': ['sepal length_cm', 'sepal width_cm', 'petal length_cm', 'petal width_cm'], 'mClasses': array([0, 1, 2]), 'mMode': 'Classification'}
{'build_fn': <function create_model at 0x7f09b1e30ae8>, 'sk_params': {'epochs': 12, 'verbose': 0}, 'classes_': array([0, 1, 2]), 'n_classes_': 3, 'model': <keras.models.Sequential object at 0x7f0963b7edd8>}
ABSTRACT_GENERATE_CTE keras_input keras_input 5
GENERATING_LAYER 0 dense_1 <class 'keras.layers.core.Dense'> {'input_spec': <keras.engine.topology.InputSpec object at 0x7f0963b90f60>, 'supports_masking': True, '_trainable_weights': [<tf.Variable 'dense_1/kernel:0' shape=(4, 5) dtype=float32_ref>, <tf.Variable 'dense_1/bias:0' shape=(5,) dtype=float32_ref>], '_non_trainable_weights': [], '_losses': [], '_updates': [], '_per_input_losses': {}, '_per_input_updates': {}, '_built': True, 'inbound_nodes': [<keras.engine.topology.Node object at 0x7f09b1e32e80>], 'outbound_nodes': [<keras.engine.topology.Node object at 0x7f0963b3bcc0>], 'name': 'dense_1', 'trainable': True, 'batch_input_shape': (None, 4), 'dtype': 'float32', '_initial_weights': None, 'units': 5, 'activation': <function relu at 0x7f09663bce18>, 'use_bias': True, 'kernel_initializer': <keras.initializers.VarianceScaling object at 0x7f0963b90128>, 'bias_initializer': <keras.initializers.Zeros object at 0x7f0963b900b8>, 'kernel_regularizer': None, 'bias_regularizer': None, 'activity_regularizer': None, 'kernel_constraint': None, 'bias_constraint': None, 'kernel': <tf.Variable 'dense_1/kernel:0' shape=(4, 5) dtype=float32_ref>, 'bias': <tf.Variable 'dense_1/bias:0' shape=(5,) dtype=float32_ref>}
LAYER_CHECK_COLUMNS ('dense_1', <class 'keras.layers.core.Dense'>, (None, 4), 5, 5)
KERAS_GENERATE_LAYER_START <class 'keras.layers.core.Dense'>
ABSTRACT_GENERATE_CTE layer_dense_1 layer_dense_1 6
ABSTRACT_GENERATE_CTE activation_relu activation_relu 6
GENERATING_LAYER 1 dropout_1 <class 'keras.layers.core.Dropout'> {'input_spec': None, 'supports_masking': True, '_trainable_weights': [], '_non_trainable_weights': [], '_losses': [], '_updates': [], '_per_input_losses': {}, '_per_input_updates': {}, '_built': True, 'inbound_nodes': [<keras.engine.topology.Node object at 0x7f0963b3bcc0>], 'outbound_nodes': [<keras.engine.topology.Node object at 0x7f09bfe922e8>], 'name': 'dropout_1', 'trainable': True, '_initial_weights': None, 'rate': 0.3, 'noise_shape': None, 'seed': None}
LAYER_CHECK_COLUMNS ('dropout_1', <class 'keras.layers.core.Dropout'>, (None, 5), 6, 6)
KERAS_GENERATE_LAYER_START <class 'keras.layers.core.Dropout'>
GENERATING_LAYER 2 dense_2 <class 'keras.layers.core.Dense'> {'input_spec': <keras.engine.topology.InputSpec object at 0x7f0963afbf60>, 'supports_masking': True, '_trainable_weights': [<tf.Variable 'dense_2/kernel:0' shape=(5, 3) dtype=float32_ref>, <tf.Variable 'dense_2/bias:0' shape=(3,) dtype=float32_ref>], '_non_trainable_weights': [], '_losses': [], '_updates': [], '_per_input_losses': {}, '_per_input_updates': {}, '_built': True, 'inbound_nodes': [<keras.engine.topology.Node object at 0x7f09bfe922e8>], 'outbound_nodes': [<keras.engine.topology.Node object at 0x7f0963b16828>], 'name': 'dense_2', 'trainable': True, '_initial_weights': None, 'units': 3, 'activation': <function linear at 0x7f09663cb0d0>, 'use_bias': True, 'kernel_initializer': <keras.initializers.VarianceScaling object at 0x7f0963b905c0>, 'bias_initializer': <keras.initializers.Zeros object at 0x7f0963b909e8>, 'kernel_regularizer': None, 'bias_regularizer': None, 'activity_regularizer': None, 'kernel_constraint': None, 'bias_constraint': None, 'kernel': <tf.Variable 'dense_2/kernel:0' shape=(5, 3) dtype=float32_ref>, 'bias': <tf.Variable 'dense_2/bias:0' shape=(3,) dtype=float32_ref>}
LAYER_CHECK_COLUMNS ('dense_2', <class 'keras.layers.core.Dense'>, (None, 5), 6, 6)
KERAS_GENERATE_LAYER_START <class 'keras.layers.core.Dense'>
ABSTRACT_GENERATE_CTE layer_dense_2 layer_dense_2 4
GENERATING_LAYER 3 activation_1 <class 'keras.layers.core.Activation'> {'input_spec': None, 'supports_masking': True, '_trainable_weights': [], '_non_trainable_weights': [], '_losses': [], '_updates': [], '_per_input_losses': {}, '_per_input_updates': {}, '_built': True, 'inbound_nodes': [<keras.engine.topology.Node object at 0x7f0963b16828>], 'outbound_nodes': [], 'name': 'activation_1', 'trainable': True, '_initial_weights': None, 'activation': <function softmax at 0x7f09663bcb70>}
LAYER_CHECK_COLUMNS ('activation_1', <class 'keras.layers.core.Activation'>, (None, 3), 4, 4)
KERAS_GENERATE_LAYER_START <class 'keras.layers.core.Activation'>
COMPUTE_ACTIVATION <function softmax at 0x7f09663bcb70> <class 'function'> softmax
ABSTRACT_GENERATE_CTE score_soft_max_step1 score_soft_max_step1 7
ABSTRACT_GENERATE_CTE score_class_union_soft score_class_union_soft 3
ABSTRACT_GENERATE_CTE score_soft_max score_soft_max 1
['score_soft_max.KEY', 'score_soft_max."Score_0"', 'score_soft_max."exp_Score_0"', 'score_soft_max."Score_1"', 'score_soft_max."exp_Score_1"', 'score_soft_max."Score_2"', 'score_soft_max."exp_Score_2"', 'score_soft_max.KEY_sum', 'score_soft_max."sum_ExpScore"']
ABSTRACT_GENERATE_CTE layer_softmax layer_softmax 4
ABSTRACT_GENERATE_CTE orig_cte orig_cte 13
ABSTRACT_GENERATE_CTE score_class_union score_class_union 5
ABSTRACT_GENERATE_CTE score_max score_max 1
ABSTRACT_GENERATE_CTE union_with_max union_with_max 1
['KEY_u', 'class', 'LogProba', 'Proba', 'Score', 'KEY', 'Score_0', 'Score_1', 'Score_2', 'Proba_0', 'Proba_1', 'Proba_2', 'LogProba_0', 'LogProba_1', 'LogProba_2', 'Decision', 'DecisionProba', 'KEY_m', 'max_Proba']
ABSTRACT_GENERATE_CTE arg_max_cte arg_max_cte 1
KERAS_CODE_GENERATION_END <class 'sqlalchemy.sql.selectable.Alias'> <class 'sklearn2sql.GenericModels.Keras.cSerializedKeras'>

In [9]:
print(lSQL)

WITH keras_input AS
(SELECT "ADS"."KEY" AS "KEY", "ADS"."sepal length_cm" AS "sepal length_cm", "ADS"."sepal width_cm" AS "sepal width_cm", "ADS"."petal length_cm" AS "petal length_cm", "ADS"."petal width_cm" AS "petal width_cm"
FROM iris AS "ADS"),
layer_dense_1 AS
(SELECT keras_input."KEY" AS "KEY", 0.0 + 0.024334847927093506 * keras_input."sepal length_cm" + -0.2723749279975891 * keras_input."sepal width_cm" + -0.680120587348938 * keras_input."petal length_cm" + 0.23243749141693115 * keras_input."petal width_cm" AS output_1, 0.0 + 0.11708617210388184 * keras_input."sepal length_cm" + -0.6165568828582764 * keras_input."sepal width_cm" + -0.5510092377662659 * keras_input."petal length_cm" + -0.2583366632461548 * keras_input."petal width_cm" AS output_2, -0.03478842228651047 + -0.37598344683647156 * keras_input."sepal length_cm" + 0.21327409148216248 * keras_input."sepal width_cm" + 0.2596365809440613 * keras_input."petal length_cm" + 0.15154574811458588 * keras_input."petal width_cm" AS output_3, 0.0 + -0.6296050548553467 * keras_input."sepal length_cm" + -0.3535902202129364 * keras_input."sepal width_cm" + -0.4499378204345703 * keras_input."petal length_cm" + 0.2969539165496826 * keras_input."petal width_cm" AS output_4, 0.03470368683338165 + 0.026861565187573433 * keras_input."sepal length_cm" + 0.4564884603023529 * keras_input."sepal width_cm" + -0.4423547089099884 * keras_input."petal length_cm" + 0.1869574338197708 * keras_input."petal width_cm" AS output_5
FROM keras_input),
activation_relu AS
(SELECT layer_dense_1."KEY" AS "KEY", greatest(layer_dense_1.output_1, 0.0) AS "output_None_1", greatest(layer_dense_1.output_2, 0.0) AS "output_None_2", greatest(layer_dense_1.output_3, 0.0) AS "output_None_3", greatest(layer_dense_1.output_4, 0.0) AS "output_None_4", greatest(layer_dense_1.output_5, 0.0) AS "output_None_5"
FROM layer_dense_1),
layer_dense_2 AS
(SELECT activation_relu."KEY" AS "KEY", -0.029612386599183083 + -0.007194459438323975 * activation_relu."output_None_1" + -0.6508968472480774 * activation_relu."output_None_2" + 0.8122735619544983 * activation_relu."output_None_3" + -0.12281513214111328 * activation_relu."output_None_4" + 0.16061639785766602 * activation_relu."output_None_5" AS output_1, 0.030299482867121696 + 0.049460411071777344 * activation_relu."output_None_1" + 0.8279576897621155 * activation_relu."output_None_2" + -0.15574738383293152 * activation_relu."output_None_3" + -0.5689281225204468 * activation_relu."output_None_4" + -0.8533886075019836 * activation_relu."output_None_5" AS output_2, 0.0016785761108621955 + 0.3021724820137024 * activation_relu."output_None_1" + -0.24590057134628296 * activation_relu."output_None_2" + -0.06710079312324524 * activation_relu."output_None_3" + 0.8202494978904724 * activation_relu."output_None_4" + 0.22111758589744568 * activation_relu."output_None_5" AS output_3
FROM activation_relu),
score_soft_max_step1 AS
(SELECT layer_dense_2."KEY" AS "KEY", layer_dense_2.output_1 AS "Score_0", exp(least(greatest(-100.0, layer_dense_2.output_1), 100.0)) AS "exp_Score_0", layer_dense_2.output_2 AS "Score_1", exp(least(greatest(-100.0, layer_dense_2.output_2), 100.0)) AS "exp_Score_1", layer_dense_2.output_3 AS "Score_2", exp(least(greatest(-100.0, layer_dense_2.output_3), 100.0)) AS "exp_Score_2"
FROM layer_dense_2),
score_class_union_soft AS
(SELECT soft_scu."KEY" AS "KEY", soft_scu.class AS class, soft_scu."exp_Score" AS "exp_Score"
FROM (SELECT score_soft_max_step1."KEY" AS "KEY", 0 AS class, score_soft_max_step1."exp_Score_0" AS "exp_Score"
FROM score_soft_max_step1 UNION ALL SELECT score_soft_max_step1."KEY" AS "KEY", 1 AS class, score_soft_max_step1."exp_Score_1" AS "exp_Score"
FROM score_soft_max_step1 UNION ALL SELECT score_soft_max_step1."KEY" AS "KEY", 2 AS class, score_soft_max_step1."exp_Score_2" AS "exp_Score"
FROM score_soft_max_step1) AS soft_scu),
score_soft_max AS
(SELECT score_soft_max_step1."KEY" AS "KEY", score_soft_max_step1."Score_0" AS "Score_0", score_soft_max_step1."exp_Score_0" AS "exp_Score_0", score_soft_max_step1."Score_1" AS "Score_1", score_soft_max_step1."exp_Score_1" AS "exp_Score_1", score_soft_max_step1."Score_2" AS "Score_2", score_soft_max_step1."exp_Score_2" AS "exp_Score_2", sum_exp_t."KEY_sum" AS "KEY_sum", sum_exp_t."sum_ExpScore" AS "sum_ExpScore"
FROM score_soft_max_step1 LEFT OUTER JOIN (SELECT score_class_union_soft."KEY" AS "KEY_sum", sum(score_class_union_soft."exp_Score") AS "sum_ExpScore"
FROM score_class_union_soft GROUP BY score_class_union_soft."KEY") AS sum_exp_t ON score_soft_max_step1."KEY" = sum_exp_t."KEY_sum"),
layer_softmax AS
(SELECT score_soft_max."KEY" AS "KEY", score_soft_max."exp_Score_0" / score_soft_max."sum_ExpScore" AS output_1, score_soft_max."exp_Score_1" / score_soft_max."sum_ExpScore" AS output_2, score_soft_max."exp_Score_2" / score_soft_max."sum_ExpScore" AS output_3
FROM score_soft_max),
orig_cte AS
(SELECT layer_softmax."KEY" AS "KEY", CAST(NULL AS FLOAT) AS "Score_0", CAST(NULL AS FLOAT) AS "Score_1", CAST(NULL AS FLOAT) AS "Score_2", layer_softmax.output_1 AS "Proba_0", layer_softmax.output_2 AS "Proba_1", layer_softmax.output_3 AS "Proba_2", CAST(NULL AS FLOAT) AS "LogProba_0", CAST(NULL AS FLOAT) AS "LogProba_1", CAST(NULL AS FLOAT) AS "LogProba_2", CAST(NULL AS INTEGER) AS "Decision", CAST(NULL AS FLOAT) AS "DecisionProba"
FROM layer_softmax),
score_class_union AS
(SELECT scu."KEY_u" AS "KEY_u", scu.class AS class, scu."LogProba" AS "LogProba", scu."Proba" AS "Proba", scu."Score" AS "Score"
FROM (SELECT orig_cte."KEY" AS "KEY_u", 0 AS class, orig_cte."LogProba_0" AS "LogProba", orig_cte."Proba_0" AS "Proba", orig_cte."Score_0" AS "Score"
FROM orig_cte UNION ALL SELECT orig_cte."KEY" AS "KEY_u", 1 AS class, orig_cte."LogProba_1" AS "LogProba", orig_cte."Proba_1" AS "Proba", orig_cte."Score_1" AS "Score"
FROM orig_cte UNION ALL SELECT orig_cte."KEY" AS "KEY_u", 2 AS class, orig_cte."LogProba_2" AS "LogProba", orig_cte."Proba_2" AS "Proba", orig_cte."Score_2" AS "Score"
FROM orig_cte) AS scu),
score_max AS
(SELECT orig_cte."KEY" AS "KEY", orig_cte."Score_0" AS "Score_0", orig_cte."Score_1" AS "Score_1", orig_cte."Score_2" AS "Score_2", orig_cte."Proba_0" AS "Proba_0", orig_cte."Proba_1" AS "Proba_1", orig_cte."Proba_2" AS "Proba_2", orig_cte."LogProba_0" AS "LogProba_0", orig_cte."LogProba_1" AS "LogProba_1", orig_cte."LogProba_2" AS "LogProba_2", orig_cte."Decision" AS "Decision", orig_cte."DecisionProba" AS "DecisionProba", max_select."KEY_m" AS "KEY_m", max_select."max_Proba" AS "max_Proba"
FROM orig_cte LEFT OUTER JOIN (SELECT score_class_union."KEY_u" AS "KEY_m", max(score_class_union."Proba") AS "max_Proba"
FROM score_class_union GROUP BY score_class_union."KEY_u") AS max_select ON orig_cte."KEY" = max_select."KEY_m"),
union_with_max AS
(SELECT score_class_union."KEY_u" AS "KEY_u", score_class_union.class AS class, score_class_union."LogProba" AS "LogProba", score_class_union."Proba" AS "Proba", score_class_union."Score" AS "Score", score_max."KEY" AS "KEY", score_max."Score_0" AS "Score_0", score_max."Score_1" AS "Score_1", score_max."Score_2" AS "Score_2", score_max."Proba_0" AS "Proba_0", score_max."Proba_1" AS "Proba_1", score_max."Proba_2" AS "Proba_2", score_max."LogProba_0" AS "LogProba_0", score_max."LogProba_1" AS "LogProba_1", score_max."LogProba_2" AS "LogProba_2", score_max."Decision" AS "Decision", score_max."DecisionProba" AS "DecisionProba", score_max."KEY_m" AS "KEY_m", score_max."max_Proba" AS "max_Proba"
FROM score_class_union LEFT OUTER JOIN score_max ON score_class_union."KEY_u" = score_max."KEY"),
arg_max_cte AS
(SELECT score_max."KEY" AS "KEY", score_max."Score_0" AS "Score_0", score_max."Score_1" AS "Score_1", score_max."Score_2" AS "Score_2", score_max."Proba_0" AS "Proba_0", score_max."Proba_1" AS "Proba_1", score_max."Proba_2" AS "Proba_2", score_max."LogProba_0" AS "LogProba_0", score_max."LogProba_1" AS "LogProba_1", score_max."LogProba_2" AS "LogProba_2", score_max."Decision" AS "Decision", score_max."DecisionProba" AS "DecisionProba", score_max."KEY_m" AS "KEY_m", score_max."max_Proba" AS "max_Proba", "arg_max_t_Proba"."KEY_Proba" AS "KEY_Proba", "arg_max_t_Proba"."arg_max_Proba" AS "arg_max_Proba"
FROM score_max LEFT OUTER JOIN (SELECT union_with_max."KEY" AS "KEY_Proba", min(union_with_max.class) AS "arg_max_Proba"
FROM union_with_max
WHERE union_with_max."max_Proba" <= union_with_max."Proba" GROUP BY union_with_max."KEY") AS "arg_max_t_Proba" ON score_max."KEY" = "arg_max_t_Proba"."KEY_Proba")
 SELECT arg_max_cte."KEY" AS "KEY", arg_max_cte."Score_0" AS "Score_0", arg_max_cte."Score_1" AS "Score_1", arg_max_cte."Score_2" AS "Score_2", arg_max_cte."Proba_0" AS "Proba_0", arg_max_cte."Proba_1" AS "Proba_1", arg_max_cte."Proba_2" AS "Proba_2", CASE WHEN (arg_max_cte."Proba_0" IS NULL OR arg_max_cte."Proba_0" > 0.0) THEN ln(arg_max_cte."Proba_0") ELSE -1.79769313486231e+308 END AS "LogProba_0", CASE WHEN (arg_max_cte."Proba_1" IS NULL OR arg_max_cte."Proba_1" > 0.0) THEN ln(arg_max_cte."Proba_1") ELSE -1.79769313486231e+308 END AS "LogProba_1", CASE WHEN (arg_max_cte."Proba_2" IS NULL OR arg_max_cte."Proba_2" > 0.0) THEN ln(arg_max_cte."Proba_2") ELSE -1.79769313486231e+308 END AS "LogProba_2", arg_max_cte."arg_max_Proba" AS "Decision", arg_max_cte."max_Proba" AS "DecisionProba"
FROM arg_max_cte

# Execute the SQL Code

In [10]:
# save the dataset in a database table


import sqlalchemy as sa

#engine = sa.create_engine('sqlite://' , echo=False)
engine = sa.create_engine("postgresql://db:db@localhost/db?port=5432", echo=False)
conn = engine.connect()

lTable = pd.DataFrame(iris.data);
lTable.columns = lMetaData['features']
lTable['TGT'] = iris.target
lTable['KEY'] = range(iris.data.shape[0])
lTable.to_sql(lMetaData['table'] , conn,   if_exists='replace', index=False)

In [11]:
sql_output = pd.read_sql(lSQL , conn);

In [12]:
sql_output.sample(12, random_state=1960)

,KEY,Score_0,Score_1,Score_2,Proba_0,Proba_1,Proba_2,LogProba_0,LogProba_1,LogProba_2,Decision,DecisionProba
114,114,None,None,None,0.337471,0.334984,0.327545,-1.086276,-1.093672,-1.116129,0,0.337471
74,74,None,None,None,0.323255,0.343214,0.333530,-1.129312,-1.069401,-1.098021,1,0.343214
9,9,None,None,None,0.399572,0.164118,0.436309,-0.917360,-1.807169,-0.829404,2,0.436309
88,88,None,None,None,0.323255,0.343214,0.333530,-1.129312,-1.069401,-1.098021,1,0.343214
25,25,None,None,None,0.395616,0.174181,0.430203,-0.927311,-1.747658,-0.843499,2,0.430203
5,5,None,None,None,0.415942,0.120259,0.463799,-0.877209,-2.118105,-0.768305,2,0.463799
48,48,None,None,None,0.414225,0.125088,0.460687,-0.881346,-2.078736,-0.775037,2,0.460687
117,117,None,None,None,0.323255,0.343214,0.333530,-1.129312,-1.069401,-1.098021,1,0.343214
83,83,None,None,None,0.323255,0.343214,0.333530,-1.129312,-1.069401,-1.098021,1,0.343214
105,105,None,None,None,0.323255,0.343214,0.333530,-1.129312,-1.069401,-1.098021,1,0.343214
27,27,None,None,None,0.410166,0.136247,0.453586,-0.891192,-1.993283,-0.790570,2,0.453586
64,64,None,None,None,0.339562,0.306685,0.353753,-1.080099,-1.181933,-1.039157,2,0.353753

# Keras Prediction

In [13]:
keras_output = pd.DataFrame()
keras_output_key = pd.DataFrame(list(range(iris.data.shape[0])), columns=['KEY']);
keras_output_score = pd.DataFrame(columns=['Score_0', 'Score_1', 'Score_2']);
keras_output_proba = pd.DataFrame(clf.predict_proba(iris.data), columns=['Proba_0', 'Proba_1', 'Proba_2'])
keras_output = pd.concat([keras_output_key, keras_output_score, keras_output_proba] , axis=1)
for class_label in [0, 1, 2]:
    keras_output['LogProba_' + str(class_label)] = np.log(keras_output_proba['Proba_' + str(class_label)])
keras_output['Decision'] = clf.predict(iris.data)
keras_output.sample(12, random_state=1960)

,KEY,Score_0,Score_1,Score_2,Proba_0,Proba_1,Proba_2,LogProba_0,LogProba_1,LogProba_2,Decision
114,114,NaN,NaN,NaN,0.337471,0.334984,0.327545,-1.086276,-1.093672,-1.116129,0
74,74,NaN,NaN,NaN,0.323255,0.343214,0.333530,-1.129312,-1.069401,-1.098022,1
9,9,NaN,NaN,NaN,0.399572,0.164118,0.436309,-0.917360,-1.807169,-0.829404,2
88,88,NaN,NaN,NaN,0.323255,0.343214,0.333530,-1.129312,-1.069401,-1.098022,1
25,25,NaN,NaN,NaN,0.395616,0.174181,0.430203,-0.927311,-1.747658,-0.843499,2
5,5,NaN,NaN,NaN,0.415942,0.120259,0.463799,-0.877209,-2.118105,-0.768305,2
48,48,NaN,NaN,NaN,0.414225,0.125088,0.460687,-0.881346,-2.078736,-0.775037,2
117,117,NaN,NaN,NaN,0.323255,0.343214,0.333530,-1.129312,-1.069401,-1.098022,1
83,83,NaN,NaN,NaN,0.323255,0.343214,0.333530,-1.129312,-1.069401,-1.098022,1
105,105,NaN,NaN,NaN,0.323255,0.343214,0.333530,-1.129312,-1.069401,-1.098022,1
27,27,NaN,NaN,NaN,0.410166,0.136247,0.453586,-0.891193,-1.993283,-0.790570,2
64,64,NaN,NaN,NaN,0.339562,0.306685,0.353753,-1.080099,-1.181933,-1.039157,2

# Comparing the SQL and Keras Predictions

In [14]:
sql_keras_join = keras_output.join(sql_output , how='left', on='KEY', lsuffix='_keras', rsuffix='_sql')

In [15]:
sql_keras_join.head(12)

,KEY_keras,Score_0_keras,Score_1_keras,Score_2_keras,Proba_0_keras,Proba_1_keras,Proba_2_keras,LogProba_0_keras,LogProba_1_keras,LogProba_2_keras,...,Score_1_sql,Score_2_sql,Proba_0_sql,Proba_1_sql,Proba_2_sql,LogProba_0_sql,LogProba_1_sql,LogProba_2_sql,Decision_sql,DecisionProba
0,0,NaN,NaN,NaN,0.412012,0.131214,0.456774,-0.886703,-2.030924,-0.783567,...,None,None,0.412012,0.131214,0.456774,-0.886703,-2.030924,-0.783567,2,0.456774
1,1,NaN,NaN,NaN,0.400532,0.161654,0.437814,-0.914963,-1.822296,-0.825961,...,None,None,0.400532,0.161654,0.437814,-0.914963,-1.822296,-0.825961,2,0.437814
2,2,NaN,NaN,NaN,0.407262,0.144047,0.448691,-0.898298,-1.937615,-0.801421,...,None,None,0.407262,0.144047,0.448691,-0.898298,-1.937615,-0.801421,2,0.448691
3,3,NaN,NaN,NaN,0.400165,0.162598,0.437237,-0.915879,-1.816474,-0.827279,...,None,None,0.400165,0.162598,0.437237,-0.915879,-1.816474,-0.827279,2,0.437237
4,4,NaN,NaN,NaN,0.413835,0.126176,0.459989,-0.882289,-2.070075,-0.776553,...,None,None,0.413835,0.126176,0.459989,-0.882289,-2.070074,-0.776553,2,0.459989
5,5,NaN,NaN,NaN,0.415942,0.120259,0.463799,-0.877209,-2.118105,-0.768305,...,None,None,0.415942,0.120259,0.463799,-0.877209,-2.118105,-0.768305,2,0.463799
6,6,NaN,NaN,NaN,0.410219,0.136104,0.453677,-0.891064,-1.994335,-0.790371,...,None,None,0.410219,0.136104,0.453677,-0.891064,-1.994335,-0.790371,2,0.453677
7,7,NaN,NaN,NaN,0.407786,0.142649,0.449564,-0.897012,-1.947366,-0.799476,...,None,None,0.407786,0.142649,0.449564,-0.897012,-1.947366,-0.799476,2,0.449564
8,8,NaN,NaN,NaN,0.397188,0.170202,0.432610,-0.923346,-1.770771,-0.837918,...,None,None,0.397188,0.170202,0.432610,-0.923346,-1.770771,-0.837918,2,0.432610
9,9,NaN,NaN,NaN,0.399572,0.164118,0.436309,-0.917360,-1.807169,-0.829404,...,None,None,0.399572,0.164118,0.436309,-0.917360,-1.807169,-0.829404,2,0.436309
10,10,NaN,NaN,NaN,0.414335,0.124781,0.460884,-0.881080,-2.081194,-0.774609,...,None,None,0.414335,0.124781,0.460884,-0.881080,-2.081194,-0.774609,2,0.460884
11,11,NaN,NaN,NaN,0.405349,0.149112,0.445539,-0.903006,-1.903058,-0.808472,...,None,None,0.405349,0.149112,0.445539,-0.903006,-1.903058,-0.808471,2,0.445539

In [16]:
condition = (sql_keras_join.Decision_sql != sql_keras_join.Decision_keras)
sql_keras_join[condition]

Empty DataFrame
Columns: [KEY_keras, Score_0_keras, Score_1_keras, Score_2_keras, Proba_0_keras, Proba_1_keras, Proba_2_keras, LogProba_0_keras, LogProba_1_keras, LogProba_2_keras, Decision_keras, KEY_sql, Score_0_sql, Score_1_sql, Score_2_sql, Proba_0_sql, Proba_1_sql, Proba_2_sql, LogProba_0_sql, LogProba_1_sql, LogProba_2_sql, Decision_sql, DecisionProba]
Index: []

[0 rows x 23 columns]